<p id="notice"><%= notice %></p>

<h3 class = "flow-text">Master Beer List</h3>


<%= link_to 'New Brew', new_brew_path %>

<% x = []%>
<% @brews.order('brewery ASC').each do |brew| %>
<%  x.push(brew.brewery)%>
 <% end%>

<ul class="collapsible" data-collapsible="accordion">
<%x.uniq.each do |brewery| %>
    <li>
      <div class="collapsible-header"><%=brewery%> ( <%=@brews.where(brewery: brewery).count%> )</div>
      <div class="collapsible-body">
        <ul class="collection">
             <%@brews.where(brewery: brewery).order('name ASC').each do |brew| %>
                 <li class="collection-item">
                     <%=brew.name%>
                      <div class="valign-wrapper timeforspecial">
                        <span-right><%= link_to 'Show', brew %></span-right> -
                        <%= link_to 'Edit', edit_brew_path(brew) %> -
                        <%= link_to 'Destroy', brew, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
                     </div>
                   
                 </li>
             <%end%>
        </ul>
      </div>
    </li>
  <%end%>
  </ul>



