<%= form_for Claim.new, remote: true do |f| %>
  <div class="field hide">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, :value => current_user.id %> %>
  </div>
  <div class="field hide">
    <%= f.label :event_id %><br>
    <%= f.text_field :event_id, :value => @modal_id %> %>
  </div>
  <div class = "btn-flat disabled red-text text-accent-4">
    <i class="zmdi zmdi-flag"></i>
    <%= f.submit "not correct?", class:"btn-flat disabled cantsee",:data => {:disable_with => "Saving..."},data: { confirm: 'Do you think this Hour is incorrect?' }  %>
  </div>
<% end %>





											