<%= form_for Claim.new, remote: true do |f| %>
  <div class="field hide">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, :value => 1 %> %>
  </div>
  <div class="field hide">
    <%= f.label :event_id %><br>
    <%= f.text_field :event_id, :value => @m %> %>
  </div>
  <div class = "btn-flat disabled red-text text-accent-4">
    <%= f.submit "not correct?", class:"btn-flat disabled red-text text-accent-4" %>
  </div>
<% end %>