<div class = "hide">
<%= form_for Claim.new, remote: true do |f| %>
  
  <div class="field hide">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, :value => 1 %> %>
  </div>
  <div class="field hide">
    <%= f.label :event_id %><br>
    <%= f.text_field :event_id, :value => 20 %> %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<p id="notice"><%= notice %></p>

<h1>Listing Claims</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @claims.each do |claim| %>
      <tr>
        <td><%= claim.user.fullname %></td>
        <td><% if claim.event%><%= claim.event.special %><%end%></td>
        <td><%= link_to 'Show', claim %></td>
        <td><%= link_to 'Edit', edit_claim_path(claim) %></td>
        <td><%= link_to 'Destroy', claim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
        <td class = "upvote">
          <%=link_to like_claim_path(claim), method: :put, remote: true, id: "claim-up#{claim.id}" do%>
              <i class="tiny material-icons">favorite</i>
          <%end%>
        </td>
        
        <td class = "upvote_count" id = "up_count<%=claim.id%>"><%= claim.get_likes.size%></td>
        
        <td class = "downvote">
          <%=link_to dislike_claim_path(claim), method: :put, remote: true, id: "claim-down#{claim.id}" do%>
              <i class="tiny material-icons">favorite</i>
          <%end%>
        </td>
        
        <td class = "downvote_count" id = "down_count<%=claim.id%>"><%= claim.get_dislikes.size%></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Claim', new_claim_path %>

<br>

  <%=render @claims%>
</div>
<br>
<% @claims.each do |claim| %>
<div class="z-depth-3">
 <ul class="collection">
    <li class="collection-item">
      
      <span class="title"><% if claim.event%><%= claim.event.special %><%end%></span>
      <p><%= claim.description%> <br>
         <%= link_to 'Show Claim', claim, class:"btn-flat disabled teal-text text-accent-4" %>
      </p>
      
      
      <div class="chip secondary-content black-text" style="background-color:#b2dfdb">
        <%=image_tag("favicon.png", alt: "Contact Person")%>
          <%= claim.user.fullname %>
      </div>
    </li>
    </ul>
  </div>
<br/>
<%end%>

<ul class="collection with-header">
        <li class="collection-header"><h4>First Names</h4></li>
        <li class="collection-item">Alvin</li>
        <li class="collection-item">Alvin</li>
        <li class="collection-item">Alvin</li>
        <li class="collection-item">Alvin</li>
</ul>


