
<%@current_user = @user%>
<div class="col s3 profilepage">
     <div class="detailstitle">
<h4 class= "flow-text center-align userfirstname"><%= @user.fullname%>'s Profile</h4>

    
<%@b = Time.now.in_time_zone("Eastern Time (US & Canada)").hour%>
<%@c = (Time.now.in_time_zone("Eastern Time (US & Canada)").min)%>
<%t= Time.now.in_time_zone("Eastern Time (US & Canada)")%>

  <%  @m = ""%>
    <%@t = ""%>
    <%@w = ""%>
    <%@th = ""%>
    <%@f = ""%>
    <%@s = ""%>
    <%@st = ""%>
    <%@day = ""%>
    <%@button = 0%>
    <%if t.wday == 1%>
      <%@m = "active"%>
      <%@day = "Monday"%>
    <%elsif  t.wday==2%>
      <%@t = "active"%>
      <%@day = "Tuesday"%>
    <%elsif  t.wday==3%>
      <%@w = "active"%>
      <%@day = "Wednesday"%>
    <%elsif  t.wday==4%>
      <%@th = "active"%>
      <%@day = "Thursday"%>
    <%elsif  t.wday==5%>
      <%@f = "active"%>
      <%@day = "Friday"%>
    <%elsif  t.wday==6%>
      <%@st = "active"%>
      <%@day = "Saturday"%>
     <%else%>
      <%@s = "active"%>
      <%@day = "Sunday"%>
    <%end%>
 
<h6 class= "flow-text center-align">Saved Hours  |  Rank: <%=@user.experience%></h6>
     </div>
</div>
<div class="row" style="margin:0;">
    <div class="col s12 profile-tabs neiborhoodprofile" style="top: 216px;">
      <ul class="tabs">
        <!--li class="tab col s4 m3 hide"><a href="#venues">Venues</a></li-->
        <li class="tab col s4"><a class="active" href="#weekly">Saved Hours</a></li>
        <li class="tab col s4"><a  href="#badges">Badges</a></li>
      </ul>
    </div>
  </div>
<!--TABS-->
<script>
   $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>
<!--END TABS-->

<div class="timeforspecial">
    
    <div class="hide">
    <h4>Badges</h4>
    <span class = "left">
    <i class="small material-icons">new_releases</i>
    <i class="small material-icons">queue</i>
    <i class="small material-icons">schedule</i>
    <i class="small material-icons">vpn_key</i>
    </span>
    </div>
    
</div>
<div class="profee">
<div class="add-height"></div>

</div>

<div id="weekly" class="col s12">
 <div class="weeklyhours beerlist">
 <div class="row">
    <div class="col s12 weektab">
      <ul class="tabs">
        <li class="tab col s1"><a class="<%=@s%>" href="#SunTab">Sun</a></li>
        <li class="tab col s1"><a class="<%=@m%>" href="#MonTab">Mon</a></li>
        <li class="tab col s1"><a class="<%=@t%>" href="#TueTab">Tue</a></li>
        <li class="tab col s1"><a class="<%=@w%>" href="#WedTab">Wed</a></li>
        <li class="tab col s1"><a class="<%=@th%>" href="#ThurTab">Thu</a></li>
        <li class="tab col s1"><a class="<%=@f%>" href="#FriTab">Fri</a></li>
       <li class="tab col s1"><a class="<%=@st%>" href="#SatTab">Sat</a></li>
      </ul>
    </div>
   <div class ="center" id="specials">
       <%=render partial: "shared/autocomplete"%>
      </div>
   <div class="weeklyhours beerlist" id="firstfade">
    <div id="SunTab" class="col s12 showday center">

        <% @d = ["Sunday","Everyday","Weekdays"] %>
        <%= render partial:  "users/registrations/prof_neigh_table" %>
   </div>
    <div id="MonTab" class="col s12 showday center">

        <% @d = ["Monday","Everyday","Weekdays"] %>
        <%= render partial:  "users/registrations/prof_neigh_table" %>
   </div>
    <div id="TueTab" class="col s12 showday center">

      <% @h = "Tuesday"%>
      <% @d = ["Tuesday","Everyday","Weekdays"] %>
        <%= render partial:  "users/registrations/prof_neigh_table" %>
   </div>
    <div id="WedTab" class="col s12 showday center">

       <% @h = "Wednesday"%>
        <% @d = ["Wednesday","Everyday","Weekdays"] %>
       <%= render partial:  "users/registrations/prof_neigh_table" %>
   </div>
     <div id="ThurTab" class="col s12 showday center">

       <% @h = "Thursday"%>
        <% @d = ["Thursday","Everyday","Weekdays"] %>
       <%= render partial:  "users/registrations/prof_neigh_table" %>
   </div>
     <div id="FriTab" class="col s12 showday center">

       <% @h = "Friday"%>
        <% @d = ["Friday","Everyday","Weekdays"] %>
        <%= render partial:  "users/registrations/prof_neigh_table" %>
   </div>
   <div id="SatTab" class="col s12 showday center">

       <% @h = "Saturday"%>
        <% @d = ["Saturday","Everyday","Weekend"] %>
        <%= render partial:  "users/registrations/prof_neigh_table" %>
   </div>
   </div>
  </div>

  <script>
     $(document).ready(function(){
    $('ul.tabs').tabs();
       $('#firstfade').delay(1000).fadeIn(500);
  });
  </script>





    </div>
</div>

<div id="badges" class="badge-section">
    <div class="row">
        <div class="tab col s4 m3">
            <%= image_tag "1-PROFILE.png"%>
            <h6>CREATED PROFILE</h6>
        </div>
        <div class="tab col s4 m3">
        <%if @user.saved_first_hour%>
            <div class="">
            <%= image_tag "2-SAVED.png"%>
            <h6>SAVED A SPECIAL</h6>
            </div>
        <%else%>
            <div>
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
        <% if @user.verified_first_hour%>
            <div class="">
            <%= image_tag "3-VERIFIED.png"%>
            <h6>VERIFIED HOUR</h6>
            </div>
        <%else%>
            <div>
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%> 
        </div>
        
        <div class="tab col s4 m3">
        <% if @user.created_first_claim%>
            <div class="">
                <%= image_tag "4-CLAIM.png"%>
                <h6>CREATED A CLAIM</h6>
            </div>
        <%else%>
            <div>
                <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
        <% if @user.liked_first_feature%>
            <div class="">
                <%= image_tag "5-LIKED-FEATURE.png"%>
                <h6>LIKED A FEATURE</h6>
            </div>
        <%else%>
            <div>
                <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        
        <div class="tab col s4 m3">
        <%if @user.saved_10_hours%>
            <div class="">
            <%= image_tag "6-SAVED-50.png"%>
            <h6>SAVED 10 SPECIALS</h6>
            </div>
        <%else%>
            <div>
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
        <%if @user.liked_10_features%>
            <div class="">
            <%= image_tag "7-LIKED-50.png"%>
            <h6>LIKED 10 FEATURES</h6>
            </div>
        <%else%>
            <div>
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
        <% if @user.verified_10_hours%>
            <div class="">
            <%= image_tag "8-VERIFIED-50.png"%>
            <h6>VERIFIED 10 HOURS</h6>
            </div>
        <%else%>
            <div>
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
        <% if @user.created_feature %> 
            <div class="">
                <%= image_tag "9-CREATED-FEATURE.png"%>
                <h6>CREATED A FEATURE</h6>
            </div>
        <%else%>
            <div>
                <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
        <% if @user.voted_on_claim%>
            <div class="">
            <%= image_tag "10-VOTED.png"%>
            <h6>VOTED ON A CLAIM</h6>
            </div>
        <%else%>
            <div>
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
        <% if @user.verified_50_hours%>
            <div class="">
            <%= image_tag "11-VERIFIED-100.png"%>
            <h6>VERIFIED 50 HOURS</h6>
            </div>
        <%else%>
            <div>
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
        <% if @user.saved_50_specials%>
            <div class="">
            <%= image_tag "12-SAVED-100.png"%>
            <h6>SAVED 50 SPECIALS</h6>
            </div>
        <%else%>
            <div class="">
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
         <div class="tab col s4 m3">
         <% if @user.liked_50_features%>
             <div class="">
            <%= image_tag "13-LIKED-100.png"%>
            <h6>LIKED 50 FEATURES</h6>
            </div>
        <%else%>
             <div>
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
            <div class="hide">
            <%= image_tag "13-LOCK.png"%>
            </div>
            <div class="">
            <%= image_tag "13-LOCK.png"%>
            </div>
        </div>
         <div class="tab col s4 m3">
             <div class="hide">
            <%= image_tag "13-LOCK.png"%>
            </div>
            <div class="">
            <%= image_tag "13-LOCK.png"%>
            </div>
        </div>
        
        
        
    </div>
</div>

<% test = DailySpecial.where(user_id: 1).first%>

<%link_to "test", test%>
  
<script>
$(document).ready(function() {
    <% if user_signed_in?%>
    <%if @user.experience < 1000 %>
     Materialize.toast('Here is where you keep all of your favorite hours of the Week! ', 4000)
     <%end%>
     <%end%>
  });
</script>