<%@daily_specials.sort  { |x,y| y <=> x }.each do |event| %>



 <div class="col s12 m12 featured-dish-section ">
    <h5>
    <%= link_to "#{Venue.where(id: event.venue_id).first.name}", venue_path(Venue.where( id: event.venue_id).first.id), class: "teal-text text-accent-4", 'data-no-turbolink' => true %>
    </h5>

    <h6><%event.special_neighborhood%> <%=event.created_at.strftime("%B #{event.created_at.day.ordinalize}")%></h6>
    <div class="card">
     <div class="card-image z-depth-2">
        <%= image_tag event.image.url(:medium)%>
     </div>
     <div class="card-content">
       <%=event.text%>
       <p><span class="submit-by">Submitted by  <%= link_to "#{User.find(event.user_id).fullname}", User.find(event.user_id) %></span></p>
       <!--Like Button-->
       <div>
         <%@j = event%>
         <%=render partial: "daily_specials/like_form"%>
       </div>
       <!--End Of Like Button-->
     </div>
     <div class="card-action">
       <%= event.description%>
        <div class="row">
                            <div class="time-and-price">
                                <%if event.start != 0%>
                                <div class="timeforspecial">
                                    <i class="zmdi zmdi-time"></i><%= event.time_conversion%>
                                </div>
                                <%end%>
                                <div class="right-align">
                                    <%if event.price.length > 0 %>
                                        $<%=event.price%>
                                  <%end%>
                                </div>
                            </div>
                            <div class="featured-tags">
                              <%= raw event.tag_list.map { |t| link_to t, tag_path(t), class:"disabled teal-text text-accent-4" }.join(' | ')%>
                            </div>
                            <div class="right hide">
                                <div class="valign-wrapper timeforspecial">
                                    <i class="tiny material-icons">bookmark</i>Reserve Feature
                                </div>
                            </div>
                        </div>
  </div>
   
</div>
</div>

<%end%>




