<%@first_special_batch.shuffle.each do |event| %>


<div class="row">
  <div class="col s12 m8 offset-m2 featured-dish-section ">
    <div class="title">
    <%= link_to "#{Venue.where(id: event.venue_id).first.name}", venue_path(Venue.where( id: event.venue_id).first.id), class: "btn-flat", 'data-no-turbolink' => true %>
    </div>

    <!--<h6><%=event.created_at.strftime("%B #{event.created_at.day.ordinalize}, %Y")%></h6>-->
    <div class="card">
     <div class="card-image">
        <%= image_tag event.image.url(:medium)%>
     </div>
     <div class="card-content">
       <%=event.text%>

       <!--Like Button-->
       <div>
       <%@j = event%>
         <%=render partial: "daily_specials/like_form"%>
       </div>

       <!--End Of Like Button-->
     </div>
     <div class="card-action">
       <%= event.description%>

       <div class = "row">
          <div class="time-and-price">
                    <div class="timeforspecial">
                        <i class="tiny material-icons">query_builder</i><%= event.time_conversion%>

                  </div>
                       <div class= "right-align">$<%=event.price%></div>
                </div>


<div class="featured-tags"> <%= raw event.tag_list.map { |t| link_to t, tag_path(t), class:"disabled teal-text text-accent-4" }.join(' | ')%></div>

     </div>
     <br/>

    </div>
    </div>


<%end%>




