
<ul id="dropdown4" class="dropdown-content">
  <li class="divider"></li>
  <li><%= link_to "My Profile", edit_user_registration_path%></li>
  <li class="divider"></li>
  <li><%= link_to "Log Out",  destroy_user_session_path,method: :delete%></li>
</ul>
<ul id="dropdown3" class="dropdown-content">
  <li class="divider"></li>
  <li><%= link_to "South Side", south_side_path%></li>
  <li class="divider"></li>
  <li><%= link_to "Login", new_user_session_path%></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li class="divider"></li>
  <li><%= link_to "Shadyside", shadyside_path%></li>
  <li class="divider"></li>
  <li><%= link_to "Oakland", oakland_path%></li>
  <li class="divider"></li>
  <li><%= link_to "South Side", south_side_path%></li>
</ul>
<ul id="dropdown8" class="dropdown-content">
  <li class="divider"></li>
  <li><%= link_to "My Profile", edit_user_registration_path%></li>
  <li class="divider"></li>
  <li><%= link_to "Log Out",  destroy_user_session_path,method: :delete%></li>
</ul>
<ul id="dropdown7" class="dropdown-content">
  <li class="divider"></li>
   <li><%= link_to "Sign Up", new_user_registration_path%></li>
  <li class="divider"></li>
  <li><%= link_to "Login", new_user_session_path%></li>
</ul>

<ul id="dropdown6" class="dropdown-content">
  <li class="divider"></li>
  <li><%= link_to "Shadyside", shadyside_path%></li>
  <li class="divider"></li>
  <li><%= link_to "Oakland", oakland_path%></li>
  <li class="divider"></li>
  <li><%= link_to "South Side", south_side_path%></li>
</ul>
<div class="navbar-fixed">
<nav>
  <div class = "container">
  <div class="nav-wrapper">
  <div class = "row">

    <!-- Dropdown Structure -->
<ul id="venue-menu-dropdown" class="dropdown-content nav-drop">
    <li><%= link_to "Features", daily_specials_path%></li>
    <li class="divider"></li>
    <li><%= link_to "Downtown", downtown_path%></li>
    <li class="divider"></li>
    <li><%= link_to "South Side", south_side_path%></li>
    <li class="divider"></li>
    <li><%= link_to "Shadyside", shadyside_path%></li>
    <li class="divider"></li>
    <li><%= link_to "Oakland", oakland_path%></li>
    <li class="divider"></li>
    <li><%= link_to "Lawrenceville", lawrenceville_path%></li>
  <li class="divider"></li>
    <li><%= link_to "Strip District", strip_district_path%></li>
  <li class="divider"></li>
    <li><%= link_to "About Urbanist", urbanist_path%></li>
</ul>

    <ul id="venue-menu-dropdown2" class="dropdown-content nav-drop" style="top: 51px !important;">
    <li><%= link_to "Features", daily_specials_path%></li>
    <li class="divider"></li>
    <li><%= link_to "Downtown", downtown_path%></li>
    <li class="divider"></li>
    <li><%= link_to "South Side", south_side_path%></li>
    <li class="divider"></li>
    <li><%= link_to "Shadyside", shadyside_path%></li>
    <li class="divider"></li>
    <li><%= link_to "Oakland", oakland_path%></li>
    <li class="divider"></li>
    <li><%= link_to "Lawrenceville", lawrenceville_path%></li>
      <li class="divider"></li>
    <li><%= link_to "Strip District", strip_district_path%></li>
       <li class="divider"></li>
    <li><%= link_to "About Urbanist", urbanist_path%></li>
</ul>



  <ul class="right hide-on-med-and-down">
    <li><a class="dropdown-button" data-activates="venue-menu-dropdown2">Neighborhoods<i class="material-icons right" style="color: #fff;
    padding-top: 0px;">arrow_drop_down</i></a></li>
    <li class="divider"></li>
    <li> <%= link_to "venues", venues_path%></li>

    <%if (user_signed_in?)%>
     <%if Venue.where(owner: current_user.id).count > 0 %>
    <li><%= link_to "My Venues", users_venues_path%></li>
      <%end%>
    <%end%>


    <% if (user_signed_in?)%>
    <li><%= link_to 'New Happy Hour', new_event_path%>
    </li>
    <li>
      <div class="log-out">
        <%= link_to "Log Out",  destroy_user_session_path,method: :delete%>
      </div>
      </li>

      <%else%>
       <li><%= link_to "Login", new_user_session_path%></li>
      <%end%>

  </ul>



  <ul id="slide-out" class="side-nav">
    <li class="divider"></li>
    <li><a class="dropdown-button" data-activates="venue-menu-dropdown">Neighborhoods<i class="material-icons right" style="color: #444;
    padding-top: 4px;">arrow_drop_down</i></a></li>
    <li class="divider"></li>
    <li> <%= link_to "venues", venues_path%></li>
    <li class="divider"></li>
    <br>
    <li class="divider"></li>
    <%if (user_signed_in?)%>
      <%if Venue.where(owner: current_user.id).count > 0 %>
          <li><%= link_to "My Venues", users_venues_path%></li>
       <%end%>
    <%end%>


    <% if (user_signed_in?)%>
    <li class="divider"></li>
    <li><%= link_to 'New Happy Hour', new_event_path%>
    </li>
    <li class="divider"></li>
    <li>
      <div class="log-out">
        <%= link_to "Log Out",  destroy_user_session_path,method: :delete%>
      </div>
      </li>
      <li class="divider"></li>
      <%else%>
       <li class="divider"></li>
       <li><%= link_to "Login", new_user_session_path%></li>
       <li class="divider"></li>
      <%end%>

  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

    <script>
     // Show sideNav
  $('.button-collapse').sideNav('show');
  // Hide sideNav
  $('.button-collapse').sideNav('hide');
  </script>

        <%= link_to "#{image_tag('logo.png')}".html_safe, landing_path %>

<!--
   <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">query_builder</i></a>
    <ul class="right hide-on-med-and-down">
     <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Neighborhoods</a></li>

      <% if (!user_signed_in?)%>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Sign-Up/Log-In</a></li>
      <%else%>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown4">Log-Out/Edit Profile</a></li>
      <li><strong><%= current_user.email %></strong></li>
      <%end%>
    </ul>
     <ul class="side-nav" id="mobile-demo">
      <li><a class="dropdown-button" href="#!" data-activates="dropdown6">Neighborhoods<i class="material-icons right">arrow_drop_down</i></a></li>
      <!-- Dropdown Trigger -->
     <!-- <% if (!user_signed_in?)%>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown7">Sign-Up/Log-In<i class="material-icons right">arrow_drop_down</i></a></li>
      <%else%>
       <li><strong><%= current_user.email %></strong></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown8">Log-Out/Edit Profile<i class="material-icons right">arrow_drop_down</i></a></li>

      <%end%>
    </ul>
-->
    <script>
     $(document).ready(function(){
      $(".dropdown-button").dropdown();
    });
    </script>
    </div>
  </div>
  </div>
</nav>
  </div>
