
<%if (user_signed_in?)%>
      <%@signed_in == true%>
    <%else%>
      <%@signed_in == false%>
    <%end%>





<div class="navbar-fixed">
<nav id="header22">
  <div class = "container">
  <div class="nav-wrapper">
  <div class = "row">

    <!-- Dropdown Structure -->



  <ul class="right hide-on-med-and-down">

    <li style="display:none;"><a class="dropdown-button" data-activates="venue-menu-dropdown2">Neighborhoods<i class="material-icons right" style="color: #fff;
    padding-top: 0px; margin-left:0">arrow_drop_down</i></a></li>
    <li class="divider"></li>
    <li><%= link_to "Features", daily_specials_path%></li>
    <li> <%= link_to "venues", venues_path%></li>
    

   <%if (user_signed_in?)%>


    <li><a class="dropdown-button" data-activates="venue-menu-dropdown4"><%=current_user.fullname%><i class="material-icons right" style="color: #fff;
    padding-top: 0px; margin-left:0;">arrow_drop_down</i></a></li>
    <li class = "user-points hide"><%=link_to "Points: #{current_user.experience}"%></li>


  <ul id="venue-menu-dropdown4" class="dropdown-content nav-drop" style="top: 51px !important;">
    <li><%=link_to "My Profile", edit_user_registration_path%></li>
    <!--
   
    -->
    <%if current_user.experience < 0 %>
     <li><a class="tooltipped" data-position="right" data-delay="50" data-tooltip="You need to earn more hours to create a New Hours"><i class="material-icons left">lock</i>New Hour</a></li>
      <li><a class="tooltipped" data-position="right" data-delay="50" data-tooltip="You need to earn more hours to create a New Feature"><i class="material-icons left">lock</i>New Feature</a></li>
    <%else%>
      <li><%= link_to "New Hour", new_event_path %></li>
      <%if current_user.feature_rights == true%>
        <li><%= link_to "New Feature", new_daily_special_path%></li>
      <%else%>
        <li><a class="tooltipped" data-position="right" data-delay="50" data-tooltip="You need to earn more hours to create a New Feature"><i class="material-icons left">lock</i>New Feature</a></li>
      <%end%>
    <%end%>
    <li>
      <div class="log-out">
        <%= link_to "Log Out",  destroy_user_session_path,method: :delete%>
      </div>
    </li>
  </ul>





  <%else%>
       <li><%= link_to "Login", new_user_session_path%></li>
    <%end%>

    

    <%if @signed_in%>
   <!-- <li> <%= current_user.fullname %> Profile</li>-->
    <%end%>
  </ul>

<!-- Mobile nav bar start-->

  <ul id="slide-out" class="side-nav">
     <%if @signed_in%>
     <li class="divider hide"></li>
     <li class = "user-points hide"><%=link_to "Hours: #{current_user.experience}"%></li>
     <%end%>
    <li class="divider"></li>
    <li><%= link_to "Features", daily_specials_path%></li>
    <li class="divider"></li>
    <li> <%= link_to "venues", venues_path%></li>
    <li class="divider"></li>
    <br>
    <li class="divider"></li>
    <%if (user_signed_in?)%>
    <li><%=link_to "My Profile", edit_user_registration_path%></li>
    
    <li class="divider"></li>
      
    <%end%>
    

    <% if (user_signed_in?)%>
     
        <%if current_user.experience < 0%>
          <li class="divider"></li>
          <li><a class="tooltipped" data-position="right" data-delay="50" data-tooltip="You need to earn more hours to create hours"><i class="material-icons left">lock</i>New Hour</a></li>
          <li class="divider"></li>
          <li><a class="tooltipped" data-position="right" data-delay="50" data-tooltip="You need to earn more hours to create a feature"><i class="material-icons left">lock</i>New Feature</a></li>
        <%else%>
          <li class="divider"></li>
          <li><%= link_to 'New Hour',new_event_path%></li>
          <%if current_user.feature_rights == true %>
          <li class="divider"></li>
          <li><%= link_to 'New Feature', new_daily_special_path%></li>
          <%else%>
           <li class="divider"></li>
           <li><a class="tooltipped" data-position="right" data-delay="50" data-tooltip="You need to earn more hours to create a feature"><i class="material-icons left">lock</i>New Feature</a></li>
          <%end%>
        <%end%>
        
     <li class="divider"></li>
     <li>
      <div class="log-out">
        <%= link_to "Log Out", destroy_user_session_path,method: :delete%>
      </div>
     </li>
     <li class="divider"></li>
    <%else%>
      <li class="divider"></li>
      <li><%= link_to "Login", new_user_session_path%></li>
      <li class="divider"></li>
    <%end%>
     
      <li><%= link_to 'About Us', about_us_path%></li>
      <li class="divider"></li>
      
  </ul>
  <!-- mobile nav bar end -->
  
  <a href="#" data-activates="slide-out" class="button-collapse menu-icon">
    <!--<i class="mdi-navigation-menu"></i>-->
     <%= image_tag "menu-icon.png"%>
    </a>

    <script>
     // Show sideNav
  $('.button-collapse').sideNav('show');
  // Hide sideNav
  $('.button-collapse').sideNav('hide');
  </script>

<div class="center-logo">
        <%= link_to "#{image_tag('logo.png')}".html_safe, landing_path %>
</div>

    <script>
     $(document).ready(function(){
      $(".dropdown-button").dropdown();
    });
    
    $(window).scroll(function() {     
    var scroll = $(window).scrollTop();
    if (scroll > 0) {
        $("#header22").addClass("active22");
    }
    else {
        $("#header22").removeClass("active22");
    }
});
    </script>
    </div>
  </div>
  </div>
</nav>
  </div>
