<ul class="collection">

       <% @v = @current_user.get_up_voted Event.where( day: @d)%>
<% if @v.empty?%>
<li class = "collection-item grey lighten-3"><%= @current_user.fullname%> has no hours on <%=@h%></li>
<%else%>
<% @v.order(start: :asc, special: :asc).each do |x| %>
<li class="collection-item grey lighten-3 special-by-day">
        <h4 class="addonpadding"><%=Venue.find(x.venue_id).name %> (<%=Neighborhood.find(Venue.find(x.venue_id).id).name%>)</h4>
        <h4 class="addonpadding"><%= x.special %></h4>



<% start_minutes = "00"%>
<%if x.start%1 > 0 %>
     <%start_minutes = "30"%>
<%end%>
<%start_am = "am"%>
<%if x.start >9.5 && x.start < 22 %>
     <%start_am = "pm"%>
<%end%>

<% end_minutes = "00"%>
<%if x.end%1 > 0 %>
     <%end_minutes = "30"%>
<%end%>
<%end_am = "am"%>
<%if x.end.to_f >9.5 && x.end < 22 %>
     <%end_am="pm"%>
<%end%>

<!--Convert to regular time-->
<%start_time = 0%>
<%end_time = 0%>
<% if x.start.to_f > 10.5 %>
   <%start_time = (x.start - 0.1).round(0)- 10%>
<%else%>
   <%start_time = (x.start - 0.1).round(0)+ 2%>
<%end%>

 <%if x.end > 22.5 %>
   <%end_time = (x.end - 0.1).round(0)- 22%>
    <% elsif x.end > 10.5 %>
   <%end_time = (x.end - 0.1).round(0)- 10%>
<%else%>
   <%end_time = (x.end - 0.1).round(0)+ 2%>
<%end%>



<div class="valign-wrapper timeforspecial">
<i class="tiny material-icons">query_builder</i><%=start_time%>:<%=start_minutes%> <%=start_am%> - <%=end_time%>:<%=end_minutes%> <%=end_am%>
</div>

  <%if Event.where(id: x.id).first.any_details == 2%>
      <p class="detailonshow addonpadding">
        <%=Event.where(id: x.id).first.detail%>
      </p>
  <%end%>

  <script>
    if ($('.edit-button-user').hasClass('imhere')) {
    $('.addonpadding').addClass('addedpadding');
      $('.addonpadding').addClass('addedpadding');
    }
  </script>

<%if @button == 1 %>
 <%@happy_hour = Event.where(id: x.id).first%>


  <div class="edit-button-user imhere">
  <div style="width: 58px;
    display: inline-block;
    height: 100%;
    position: relative;
    border-left: 1px solid #ddd;">
    <%= link_to edit_event_path(@happy_hour) do%>
    <i class="material-icons">edit_mode</i>
  <%end%>
  </div>
    <div style="width: 58px;
    display: inline-block;
    height: 100%;
    position: relative;
    border-left: 1px solid #ddd;">
  <%= link_to x, method: :delete, data: { confirm: 'Are you sure?' } do%>
  <i class="material-icons">delete_forever</i>
  <%end%>
    </div>
  </div>
<%end%>

      </li>
       <%end%>
    </ul>
    <%end%>
