<%@second_special_batch.shuffle.each do |event| %>
<div class="row">
  <div class="col s12 m8 offset-m2 featured-dish-section ">
    <div class="title">
    <%= link_to "#{Venue.where(id: event.venue_id).first.name}", venue_path(Venue.where( id: event.venue_id).first.id), class: "btn-flat", 'data-no-turbolink' => true %>
    </div>

    <!--<h6><%=event.created_at.strftime("%B #{event.created_at.day.ordinalize}, %Y")%></h6>-->
    <div class="card">
     <div class="card-image">
        <%= image_tag event.image.url(:medium)%>
     </div>
     <div class="card-content">
       <%=event.text%>

       <!--Like Button-->
       <%@j = event%>
         <%=render partial: "daily_specials/like_form"%>

       <!--End Of Like Button-->
     </div>
     <div class="card-action">
       <%= event.description%>
         <div class = "hide">
           <%= link_to 'View Profile', venue_path(Venue.where( id: event.venue_id).first.id), class: "waves-effect waves-light btn menubtn", 'data-no-turbolink' => true %>
         </div>
     </div>

     </div>
     <br/>

    </div>
    </div>
<%end%>




