<%@second_special_batch.shuffle.each do |event| %>
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <%= image_tag event.image.url(:medium)%>
      </div>
      <div class="card-content">
        <p><%=event.text%><br/>
        <div class = "card-title">
          <%=Venue.where(id: event.venue_id).first.name%>
        </div>
        <br>
        <%= event.description%>
      </div>
      <div class="card-action">
        <div class = "hide">
        <div id="upvote-<%=event.id%>">
          <%= link_to like_daily_special_path(event),  method: :put do%>
            <i class="material-icons">thumb_up</i>
          <%end%>
          
          <%= event.get_likes.size%>
          <%= link_to 'Edit', edit_daily_special_path(event) %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
           <i class="material-icons">share</i>
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>