<%x=[]%>
<%@third_batch.shuffle.each do |event| %>
<%if @b > 2%>
   <%if @b-2+(@c.to_f*0.0166) < event.end.to_f %>
   <%x.push(Venue.where(id: event.venue_id).first.id)%>
    <%end%>
<%else%>
    <%if @b < 1 && event.end > 22 && event.end < 23%>
    <%x.push(Venue.where(id: event.venue_id).first.id)%>
    <%elsif @b < 2 && event.end > 23 && event.end <= 24%>
    <%x.push(Venue.where(id: event.venue_id).first.id)%>
     <%end%>
<%end%>
<%end%>



<%x.uniq.each do |d|%>

  <%@e = @events.where(venue_id: d).order(:start).reverse%>
      <div class="row hourslist">
        <div class="col s12">
          <div class="card">

            <div class="card-content">
              <span class="card-title activator"><%= Venue.where( id: @e[0].venue_id).first.name%></span><br>

              <!----This is where the uniq special code is going in -->
<%unievents = []%>
<%unispecials = []%>
<%@e.each do |event| %>
      <% test = event.special.to_s %>
      <%if unispecials.index(test) == nil%>
            <%unievents.push(event) %>
            <%unispecials.push(test)%>
        <%end%>
<%end%>
              <div class="arrow">
                <%= image_tag "arrow.png"%>
              </div>
              <!---This is where it ends-->
              <%unievents.reverse.each do |event|%>
              <%if @b > 2 %>
              <%if @b-2+(@c.to_f*0.0166) > event.start.to_i && @b-2+(@c.to_f*0.0166) < event.end.to_f %>
              <div class="chip" style="background-color:#17a787">
                  <%=event.special%>
                </div><br>
              <%elsif @b < 2 && event.end > 22 %>
              <div class="chip" style="background-color:#17a787">
                  <%=event.special%>
                </div><br>
              <%else%>
                 <div class="chip">
                  <%=event.special%>
                </div><br>
              <%end%>
              <%else%>
              <div class="chip" style="background-color:#bdbdbd ">
                  <%=event.special%>
                </div><br>
              <%end%>
              <%end%>
            <!--div class="card-content">-->

<!-- <a class="activator waves-effect waves-light btn"><i class="material-icons left" style = "color:#ffffff ">query_builder</i>HOURS</a> -->
       <a class="activator waves-effect waves-light btn openhours"></a>
    </div>

            <div class="card-reveal">
            <i class="material-icons card-title right xbox">close</i>

              <div class="modal-header">
                <span class="card-title activator"><%= @day_tag %> Hours</span><br>

              </div>

             <div class="specials-header">
               <h4><%= Venue.where( id: @e[0].venue_id).first.name%></h4>
                 <h5 class="flow-text"><%=@e[0].event_type%></h5>
             </div>



<ul class="collapsible beerlist" data-collapsible="accordion">
 <% @e.reverse.each do |modal_event|%>
<li>
      <div class="collapsible-header special-by-day">
       <h4><%= modal_event.special %></h4>

<% start_minutes = "00"%>
<%if modal_event.start%1 > 0 %>
     <%start_minutes = "30"%>
<%end%>
<%start_am = "am"%>
<%if modal_event.start >9.5 && modal_event.start < 22 %>
     <%start_am = "pm"%>
<%end%>

<% end_minutes = "00"%>
<%if modal_event.end%1 > 0 %>
     <%end_minutes = "30"%>
<%end%>
<%end_am = "am"%>
<%if modal_event.end.to_f >9.5 && modal_event.end < 22 %>
     <%end_am="pm"%>
<%end%>

<!--Convert to regular time-->
<%start_time = 0%>
<%end_time = 0%>
<% if modal_event.start.to_f > 10.5 %>
   <%start_time = (modal_event.start - 0.1).round(0)- 10%>
<%else%>
   <%start_time = (modal_event.start - 0.1).round(0)+ 2%>
<%end%>

 <%if modal_event.end > 22.5 %>
   <%end_time = (modal_event.end - 0.1).round(0)- 22%>
    <% elsif modal_event.end > 10.5 %>
   <%end_time = (modal_event.end - 0.1).round(0)- 10%>
<%else%>
   <%end_time = (modal_event.end - 0.1).round(0)+ 2%>
<%end%>




<div class="valign-wrapper timeforspecial">
<i class="tiny material-icons">query_builder</i><%=start_time%>:<%=start_minutes%> <%=start_am%> - <%=end_time%>:<%=end_minutes%> <%=end_am%>
</div>
<%if @b-2+(@c.to_f*0.0166) > modal_event.start.to_i && @b-2+(@c.to_f*0.0166) < modal_event.end.to_f %>
        <div class="now-tab">Now</div>
<%elsif @b < 1 && modal_event.end < 23 &&  modal_event.end > 22%>
        <div class="now-tab">Now</div>
<%elsif @b < 2 && modal_event.end < 24  &&  modal_event.end > 23 %>
        <div class="now-tab">Now</div>
<%elsif @b-2+(@c.to_f*0.0166) < modal_event.start && @b > 2%>
        <div class="later-tab">Later</div>
 <%end%>
<%if modal_event.any_details == 2%>
       <div class="dropdownarrow">
         <%= image_tag "dropdown.png"%>
       </div>
<%end%>

       </div>



<%if modal_event.any_details == 2%>
      <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item grey lighten-3 special-by-day">
        <%=modal_event.detail%>
            </li>

        </ul>
      </div>
    <%end%>
    </li>
 <%end%>
  </ul><br>
     <div class="row">

      <%= link_to 'View Profile', venue_path(Venue.where( id: @e[0].venue_id).first.id), class: "waves-effect waves-light btn menubtn", 'data-no-turbolink' => true %>


    </div>

<div class="verified">
<% if @e[0].event_venue.venue_verify.nil?%>
  <p class="verified-date"> Venue has not been verified </p>
<%else%>
  <%= image_tag "verified.png"%>
  <p class="verified-date"> Time since last Verification: <br><%=distance_of_time_in_words(@e[0].event_venue.venue_verify, Time.now)%></p>
<%end%>
</div>




            </div>

           <!-- <div class="card-action">
              <a href="#">Menu</a>
              <a href="#">Share</a>
            </div>-->
          </div>
        </div>

      </div>
 <%end%>