	<%modal_event = @event%>
	<% if modal_event.week_verification%>
							
								<div class="verifyprofile">
								<div class = "verify_button<%=modal_event.id%>">
								<% if Claim.where(event_id: modal_event.id)%>
									
										<%if @signed_in = true %>
											<%if current_user.can_verify?%>
												<div class="verified-hour" id='verified-<%=modal_event.id%>'><%= render partial: "events/event_verified"%></div>
											<%else%>
												<div class="verified-hour" id='verified-<%=modal_event.id%>'>
													<button id="show" class="btn-flat disabled tooltipped" data-position="bottom" data-delay="50" data-tooltip="You need to save at least ten of your favorite hours to your profile by liking them before you can verify." >
														<i class="tiny material-icons">update</i>
													</button>
												</div>
											<%end%>
										<%else%>
											<div class="verified-hour" id='verified-<%=modal_event.id%>'>
												<button id="show" class="btn-flat disabled tooltipped" data-position="bottom" data-delay="50" data-tooltip="You need to be signed in to verify hours" >
													<i class="tiny material-icons">update</i>
												</button>
											</div>
											
										<%end%>
										</div>
									<%end%>
								
								</div>
	<%end%>