<p id="notice"><%= notice %></p>

<h1>Listing Liqours</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Distillery</th>
      <th>Liqour status</th>
      <th>Liqour type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @liqours.each do |liqour| %>
    <%=link_to add_to_reserve_liqour_path(liqour), method: :patch do%>
                <i class="material-icons">add</i>
                <%end%>
      <tr>
        <td><%= liqour.name %></td>
        <td><%= liqour.description %></td>
        <td><%= liqour.distillery %></td>
        <td><%= liqour.liqour_status %></td>
        <td><%= liqour.liqour_type %></td>
        <td><%= link_to 'Show', liqour %></td>
        <td><%= link_to 'Edit', edit_liqour_path(liqour) %></td>
        <td><%= link_to 'Destroy', liqour, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Liqour', new_liqour_path %>