
<p id="notice"><%= notice %></p>

<h5>New Events</h5>

<% unique_venues = @venues.map {|venue| venue }.uniq%>
<% unique_venues.each do |venue| %>
  <p><%venue.name%><% @events.select {|event| event.venue_id == venue.id}.count%> </p>
<%end%>




  
  <ul class="collapsible popout" data-collapsible="accordion">
    <% unique_venues.each do |venue| %>
    <li>
      <div class="collapsible-header">
        <%=venue.name%>
        <div class = "right chip">
          <%= @events.select {|event| event.venue_id == venue.id}.count%>
        </div>
      </div>
      
      
      <div class="collapsible-body">
         <ul class="collection">
         <% @events.select {|event| event.venue_id == venue.id}.each do |event|%>
         <li class="collection-item"><p><%= event.venue.name%> | <%= @users.select {|user| user.id == event.user_id}.first.fullname%> <br> Special: <%= event.special %> <br>Details: <%= event.detail %> <br> <%=event.created_at.strftime("created %m/%d/%Y") %> <%=event.created_at.strftime("at %I:%M%p")%></p> </li>
         
         <%end%> 
         </ul>
      </div>
    
    
    </li>
    <%end%>
  </ul>















<table class="striped">
  <thead>
    <tr>
      <th>Venue</th>
      <th>Special</th>
      <th>Details</th>
      <th>User Name</th>
      <th>Time Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td> <%= event.venue.name%></td>
        <td><%= event.special %></td>
        <td><%= event.detail %></td>
        <td><%= @users.select {|user| user.id == event.user_id}.first.fullname%></td>
        <td><%=event.created_at.strftime("created %m/%d/%Y") %> <%=event.created_at.strftime("at %I:%M%p")%></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<table class="striped">
  <thead>
    <tr>
      <th>Venue</th>
      <th>Special</th>
      <th>Details</th>
      <th>User Name</th>
      <th>Time Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @verified_events.each do |event| %>
      <tr>
        <td> <%= @venues.select {|venue| venue.id = event.venue.id }.first.name%></td>
        <td><%= event.special %></td>
        <td><%= event.detail %></td>
        <td><%= @users.select {|user| user.id == event.user_id}.first.fullname%></td>
        <td><%=event.created_at.strftime("created %m/%d/%Y") %> <%=event.created_at.strftime("at %I:%M%p")%></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h5>New Claims</h5>

<table class="striped">
  <thead>
    <tr>
      <th>Decription</th>
      <th>Venue/Event</th>
      <th>User Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @claims.each do |claim| %>
   
      <tr>
        <td><%= claim.description %></td>
        <td><%=claim.event.venue.name%>/ <%=claim.event.special%></td>
        <td><%= @users.select {|user| user.id == claim.user_id}.first.fullname%></td>
        <td><%=claim.created_at.strftime("created on %m/%d/%Y") %> <%=claim.created_at.strftime("at %I:%M%p")%></td>
        <td><%= link_to 'Show', claim %></td>
        <td><%= link_to 'Edit', edit_claim_path(claim) %></td>
        <td><%= link_to 'Destroy', claim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% @verified_events.each do |event| %>
<div class="collection">
        <a href="#!" class="collection-item active">Venue:<%= @venues.select {|venue| venue.id = event.venue.id }.first.name%></a>
        <a href="#!" class="collection-item ">Special: <%= event.special %></a>
        <a href="#!" class="collection-item">Details: <%= event.detail %></a>
        <a href="#!" class="collection-item">User Name:<%= @users.select {|user| user.id == event.user_id}.first.fullname%></a>
        <a href="#!" class="collection-item">Updated: <%=event.created_at.strftime("created %m/%d/%Y") %> <%=event.created_at.strftime("at %I:%M%p")%></a>
    </div>
    <br>
<%end%> 