<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @liqour.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @liqour.description %>
</p>

<p>
  <strong>Distillery:</strong>
  <%= @liqour.distillery %>
</p>

<p>
  <strong>Liqour status:</strong>
  <%= @liqour.liqour_status %>
</p>

<p>
  <strong>Liqour type:</strong>
  <%= @liqour.liqour_type %>
</p>

<%= link_to 'Edit', edit_liqour_path(@liqour) %> |
<%= link_to 'Back', liqours_path %>
