<div class="container" style="background-color:#eee;">
<div class="combined-hours">
<div class="powered-by center hide">
    <h5 class="hide"><%= @day_tag %>, <%=Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{Time.now.in_time_zone("Eastern Time (US & Canada)").day.ordinalize}, %Y")%></h5>
   <h5 class="center">Choose a neighborhood to explore happy hours for <%= @day_tag %>.</h6>
  </div>
  
  <div class="row new-hours-page about-top">
  <div class="col s12 m12 center">
    <h2>What Are Your Favorite Hours?</h2>
    
   
  
    <p style="color: #fff;">Explore the happy hours for <%= @day_tag %>.</p>
  </div>
  

</div>

<div class="row" style="margin-bottom:0;">
  <div class="row" style="margin-bottom:0;">
    <div class="col s12 profile-tabs venues">
      <ul class="tabs tab-demo" style="width: 100%;">
        <li class="tab Market_Square" style="margin-left:5px;"><a href="#Market_Square">Downtown</a></li>
        <li class="tab Southside"><a class="" href="#Southside">South Side</a></li>
        <li class="tab Shadyside"><a class="" href="#Shadyside">Shadyside</a></li>
        <li class="tab Oakland"><a class="" href="#Oakland">Oakland</a></li>
        <li class="tab Lawrenceville"><a class="" href="#Lawrenceville">Lawrenceville</a></li>
        <li class="tab Strip_district"><a class="" href="#Strip_district">Strip District</a></li>
        <li class="tab East_liberty"><a class="" href="#East_liberty">East Liberty</a></li>
        <li class="tab bloomfield_tab"><a class="" href="#bloomfield_tab">Bloomfield</a></li>
        <li class="tab mntwashington_tab"><a class="" href="#mt_washington">Mt. Washington</a></li>
        <li class="tab north_side_tab" style="margin-right:5px;"><a class="" href="#north_side">North Side</a></li>
        <!--<li class="tab bloomfield_tab"><a class="" href="#north_side">North Side</a></li>-->
      </ul>
    </div>
  </div>
  
 
  
   





<%=link_to "now", events_now_event_path(1), method: :get, remote: true ,id: "events_now", class: "hide" %>




<div class = "center tags-for-hours hide">
<%= raw @tag_events.tag_counts_on(:tags).limit(5).map { |t| link_to t.name, urb_tag_path(t.name), class:"disabled teal-text text-accent-4" }.join('  |') %> | <%=link_to "All", urbanist_path, class:"disabled teal-text text-accent-4"%>
</div>

<!--NEW NOW TABS-->
    
     <div class="col s12 profile-tabs3 center">
    <label  class="tab col s4 all-hours-list-btn active">
        <input type="radio" name="colorRadio" value="all-hours-list">All</label>
    <label  class="tab col s4 now-hours-list-btn">
        <input type="radio" name="colorRadio" value="now-hours-list">Now</label>
    <label  class="tab col s4 later-hours-list-btn">
        <input type="radio" name="colorRadio" value="later-hours-list">Later</label>
</div>
    
    
    
    

    <!--END NEW NOW TABS-->


<%@day_specials = @day_tag%>
<%events_all = @page_events%>
<div id="Market_Square">
    

        <% venue_id = @venues.select {|venue| venue.neighborhood_id == 5 }.map { |venue| venue.id }%>

     <!-- all -->
     <div id="all-hours-list" class="all-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    </div>
    
    
    <!-- current-->
    <div id="now-hours-list" class="now-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch_now'%>
    </div>
    
    <!-- later -->
    <div id="later-hours-list" class="later-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch_later'%>
    </div>
</div>


<div id="Southside">
    

     <% venue_id = @venues.select {|venue| venue.neighborhood_id == 1 }.map { |venue| venue.id }%>

      <!-- all -->
     <div id="all-hours-list" class="all-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    </div>
    
    
    <!-- current-->
    <div id="now-hours-list" class="now-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch_now'%>
    </div>
    
    <!-- later -->
    <div id="later-hours-list" class="later-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch_later'%>
    </div>
    
</div>

<div id="Shadyside">
    

  <% venue_id = @venues.select {|venue| venue.neighborhood_id == 2 }.map { |venue| venue.id }%>
     <!-- all -->
     <div id="all-hours-list" class="all-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    </div>
    
    
    <!-- current-->
    <div id="now-hours-list" class="now-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch_now'%>
    </div>
    
    <!-- later -->
    <div id="later-hours-list" class="later-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch_later'%>
    </div>
</div>

<div id="Oakland">

   <% venue_id = @venues.select {|venue| venue.neighborhood_id == 3 }.map { |venue| venue.id }%>
   
   
    
      <!-- all -->
     <div id="all-hours-list" class="all-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    </div>
    
    
    <!-- current-->
    <div id="now-hours-list" class="now-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch_now'%>
    </div>
    
    <!-- later -->
    <div id="later-hours-list" class="later-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch_later'%>
    </div>
</div>
    
<div id="bloomfield_tab">
    

  <% venue_id = @venues.select {|venue| venue.neighborhood_id == 6 }.map { |venue| venue.id }%>
      <!-- all -->
     <div id="all-hours-list" class="all-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    </div>
    
    
    <!-- current-->
    <div id="now-hours-list" class="now-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch_now'%>
    </div>
    
    <!-- later -->
    <div id="later-hours-list" class="later-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch_later'%>
    </div>
</div>

    
<div id="mt_washington">
    

  <% venue_id = @venues.select {|venue| venue.neighborhood_id == 13 }.map { |venue| venue.id }%>
 <!-- all -->
     <div id="all-hours-list" class="all-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    </div>
    
    
    <!-- current-->
    <div id="now-hours-list" class="now-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch_now'%>
    </div>
    
    <!-- later -->
    <div id="later-hours-list" class="later-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch_later'%>
    </div>
</div>

<div id="north_side">
    

  <% venue_id = @venues.select {|venue| venue.neighborhood_id == 12 }.map { |venue| venue.id }%>
    <!-- all -->
     <div id="all-hours-list" class="all-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    </div>
    
    
    <!-- current-->
    <div id="now-hours-list" class="now-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch_now'%>
    </div>
    
    <!-- later -->
    <div id="later-hours-list" class="later-hours-list hours-list">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch_later'%>
    </div>
</div>
</div>
</div>


      
   