<div class="container" style="background-color:#eee;">
<div class="combined-hours">
<div class="powered-by center hide">
    <h5 class="hide"><%= @day_tag %>, <%=Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{Time.now.in_time_zone("Eastern Time (US & Canada)").day.ordinalize}, %Y")%></h5>
   <h5 class="center">Choose a neighborhood to explore happy hours for <%= @day_tag %>.</h6>
  </div>
  
  <div class="row new-hours-page about-top">
  <div class="col s12 m12 center">
    <h2>What Are Your Favorite Hours?</h2>
    
   
  
    <p style="color: #fff;">Explore the happy hours for <%= @day_tag %>.</p>
  </div>
  

</div>

<div class="row" style="margin-bottom:0;">
  <div class="row" style="margin-bottom:0;">
    <div class="col s12 profile-tabs venues">
      <ul class="tabs tab-demo" style="width: 100%;">
        <li class="tab Market_Square" style="margin-left:5px;"><a href="#Market_Square">Downtown</a></li>
        <li class="tab Southside"><a class="" href="#Southside">South Side</a></li>
        <li class="tab Shadyside"><a class="" href="#Shadyside">Shadyside</a></li>
        <li class="tab Oakland"><a class="" href="#Oakland">Oakland</a></li>
        <li class="tab Lawrenceville"><a class="" href="#Lawrenceville">Lawrenceville</a></li>
        <li class="tab Strip_district"><a class="" href="#Strip_district">Strip District</a></li>
        <li class="tab East_liberty"><a class="" href="#East_liberty">East Liberty</a></li>
        <li class="tab bloomfield_tab"><a class="" href="#bloomfield_tab">Bloomfield</a></li>
        <li class="tab mntwashington_tab"><a class="" href="#mt_washington">Mt. Washington</a></li>
        <li class="tab north_side_tab" style="margin-right:5px;"><a class="" href="#north_side">North Side</a></li>
        <!--<li class="tab bloomfield_tab"><a class="" href="#north_side">North Side</a></li>-->
      </ul>
    </div>
  </div>
  
 
  
   





<%=link_to "now", events_now_event_path(1), method: :get, remote: true ,id: "events_now", class: "hide" %>


<div class = "center tags-for-hours">
<%= raw @tag_events.tag_counts_on(:tags).limit(5).map { |t| link_to t.name, urb_tag_path(t.name), class:"disabled teal-text text-accent-4" }.join('  |') %> | <%=link_to "All", urbanist_path, class:"disabled teal-text text-accent-4"%>
</div>


<%@day_specials = @day_tag%>
<%events_all = @page_events%>
<div id="Market_Square">
    <div class="col s12 profile-tabs2">
        <div id="tabs2" class="allnowlatertabs">
            <ul>
               <li class="tab col s4"><a class="active" href="#all">All</a></li>
                <li class="tab col s4"><a href="#now">Now</a></li>
                <li class="tab col s4"><a href="#later">Later</a></li>
            </ul
        </div>
    </div>
    <% venue_id = @venues.select {|venue| venue.neighborhood_id == 5 }.map { |venue| venue.id }%>

     <!-- all -->
     <div id="all">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    </div>
    
    
    <!-- current-->
    <div id="now">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    </div>
    
    <!-- later -->
    <div id="later">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    </div>
</div>
</div>

<div id="Southside">
    
   
    
     <% venue_id = @venues.select {|venue| venue.neighborhood_id == 1 }.map { |venue| venue.id }%>
     
      <div class="col s12 profile-tabs2">
        <div id="tabs3" class="allnowlatertabs">
            <ul>
               <li class="tab col s4"><a class="active2" href="#all">All</a></li>
                <li class="tab col s4"><a href="#now2">Now</a></li>
                <li class="tab col s4"><a href="#later2">Later</a></li>
            </ul
        </div>
    </div>
     <!-- all -->
     <div id="active2">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    </div>
    <!-- current-->
    <div id="now2">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    </div>
    <!-- later -->
    <div id="later2">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    </div>
    
</div>

<div id="Shadyside">
    
     <div id="tabs3" class="allnowlatertabs">
    <ul>
       <li class="tab col s4"><a class="active2" href="#all">All</a></li>
        <li class="tab col s4"><a href="#now2">Now</a></li>
        <li class="tab col s4"><a href="#later2">Later</a></li>
    </ul>

      <script>
          $(window).load(function () {
            $("#tabs3").tabs();
        });
      </script>
    </div>
    
  <% venue_id = @venues.select {|venue| venue.neighborhood_id == 2 }.map { |venue| venue.id }%>
     <!-- all -->
     <div id="active3">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    </div>
    <!-- current-->
    <div id="now3">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    </div>
    <!-- later -->
    <div id="later3">
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    </div>
</div>
</div>

<div id="Oakland">
   <% venue_id = @venues.select {|venue| venue.neighborhood_id == 3 }.map { |venue| venue.id }%>
   
   <div class="col s12 profile-tabs2">
      <ul class="tabs">
        <li class="tab col s4"><a class="active3" href="#all">All</a></li>
        <li class="tab col s4"><a href="#now3">Now</a></li>
        <li class="tab col s4"><a href="#later3">Later</a></li>
      </ul>
    </div>
    
     <!-- all -->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    <!-- current-->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    <!-- later -->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
</div>

<div id="Lawrenceville">
   <% venue_id = @venues.select {|venue| venue.neighborhood_id == 7 }.map { |venue| venue.id }%>
    <!-- all -->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    <!-- current-->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
   <!-- later -->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
</div>

<div id="Strip_district">
   <% venue_id = @venues.select {|venue| venue.neighborhood_id == 11 }.map { |venue| venue.id }%>
    <!-- all -->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    <!-- current-->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    <!-- later -->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
</div>

<div id="East_liberty">
  <% venue_id = @venues.select {|venue| venue.neighborhood_id == 9 }.map { |venue| venue.id }%>
     <!-- all -->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    <!-- current-->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
   <!-- later -->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
</div>
    
<div id="bloomfield_tab">
  <% venue_id = @venues.select {|venue| venue.neighborhood_id == 6 }.map { |venue| venue.id }%>
     <!-- all -->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    <!-- current-->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    <!-- later -->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
</div>

    
<div id="mt_washington">
  <% venue_id = @venues.select {|venue| venue.neighborhood_id == 13 }.map { |venue| venue.id }%>
     <!-- all -->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    <!-- current-->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    <!-- later -->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
</div>

<div id="north_side">
  <% venue_id = @venues.select {|venue| venue.neighborhood_id == 12 }.map { |venue| venue.id }%>
     <!-- all -->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day)}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    <!-- current-->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "current"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
    <!-- later -->
    <%@events = events_all.select{|event|  venue_id.include?(event.venue_id)}.select {|event| @day_specials.include?(event.day) && event.current_or_later(@b,@c) == "later"}.sort! {|x,y| (y.cached_votes_total + y.credits) <=> (x.cached_votes_total + x.credits)}%>
    <%=render 'one_page_batch'%>
</div>
</div>
</div>
</div>

<script>
          $(window).load(function () {
            $("#tabs2").tabs();
             $("#tabs3").tabs();
        });
      </script>
      
   