<div id="Market_Square">
    <%@events_neigh = []%>
    <%@venues.select {|venue| venue.neighborhood_id == 5 }.each do |venue|%> 
      <%if @events.select{|event| event.venue_id == venue.id }.count > 0 %>
         <%@events_neigh = venue.events.to_a%>
      <%end%>
    <%end%>
<div class ="center" id="specials">     
     <%= render partial: 'shared/first_batch_new'%>
</div>
</div>

<div id="Southside">
  <%@events_neigh = []%>
    <%@venues.select {|venue| venue.neighborhood_id == 1 }.each do |venue|%> 
      <%if @events.select{|event| event.venue_id == venue.id }.count > 0 %>
        <%@events_neigh = venue.events.to_a%>
      <%end%>
    <%end%>
<div class ="center" id="specials">     
     <%= render partial: 'shared/first_batch_new'%>
</div>
</div>

<div id="Shadyside">
    <%@events_neigh = []%>
    <%@venues.select {|venue| venue.neighborhood_id == 2 }.each do |venue|%> 
     <%if @events.select{|event| event.venue_id == venue.id }.count > 0 %>
        <%@events_neigh = venue.events.to_a%>
      <%end%>
    <%end%>
<div class ="center" id="specials">     
     <%= render partial: 'shared/first_batch_new'%>
</div>
</div>


<div id="Oakland">
    <%@events_neigh = []%>
    <%@venues.select {|venue| venue.neighborhood_id == 3 }.each do |venue|%> 
      <%if @events.select{|event| event.venue_id == venue.id }.count > 0 %>
        <%@events_neigh = venue.events.to_a%>
      <%end%>
    <%end%>
<div class ="center" id="specials">     
     <%= render partial: 'shared/first_batch_new'%>
</div>
</div>

<div id="Lawrenceville">
      <%@events_neigh = []%>
    <%@venues.select {|venue| venue.neighborhood_id == 7 }.each do |venue|%> 
      <%if @events.select{|event| event.venue_id == venue.id }.count > 0 %>
        <%@events_neigh = venue.events.to_a%>
      <%end%>
    <%end%>
<div class ="center" id="specials">     
     <%= render partial: 'shared/first_batch_new'%>
</div>
</div>

<div id="Bloomfield">
      <%@events_neigh = []%>
    <%@venues.select {|venue| venue.neighborhood_id == 6 }.each do |venue|%> 
      <%if @events.select{|event| event.venue_id == venue.id }.count > 0 %>
        <%@events_neigh = venue.events.to_a%>
      <%end%>
    <%end%>
<div class ="center" id="specials">     
     <%= render partial: 'shared/first_batch_new'%>
</div>
</div>

<div id="Strip_district">
    <%@events_neigh = []%>
    <%@venues.select {|venue| venue.neighborhood_id == 11 }.each do |venue|%> 
      <%if @events.select{|event| event.venue_id == venue.id }.count > 0 %>
        <%@events_neigh = venue.events.to_a%>
      <%end%>
    <%end%>
<div class ="center" id="specials">     
     <%= render partial: 'shared/first_batch_new'%>
</div>
</div>

    <div id="East_liberty">
    <%@events_neigh = []%>
    <%@venues.select {|venue| venue.neighborhood_id == 9 }.each do |venue|%> 
      <%if @events.select{|event| event.venue_id == venue.id }.count > 0 %>
       <%@events_neigh = venue.events.to_a%>
      <%end%>
    <%end%>
<div class ="center" id="specials">     
     <%= render partial: 'shared/first_batch_new'%>
</div>
    </div>
    
    <div id="North_side">
      <%@events_neigh = []%>
    <%@venues.select {|venue| venue.neighborhood_id == 12 }.each do |venue|%> 
      <%if @events.select{|event| event.venue_id == venue.id }.count > 0 %>
        <%@events_neigh = venue.events.to_a%>
      <%end%>
    <%end%>
<div class ="center" id="specials">     
     <%= render partial: 'shared/first_batch_new'%>
</div>
</div>

<div id="Mt_washington">
      <%@events_neigh = []%>
    <%@venues.select {|venue| venue.neighborhood_id == 13 }.each do |venue|%> 
      <%if @events.select{|event| event.venue_id == venue.id }.count > 0 %>
        <%@events_neigh = venue.events.to_a%>
      <%end%>
    <%end%>
<div class ="center" id="specials">     
     <%= render partial: 'shared/first_batch_new'%>
</div>
</div>
