
          <div class="like-btn">
          <div class="like-like">
          <div id = 'like-<%=@d.id%>'>
              <% if user_signed_in? %>
                <% if current_user.voted_as_when_voted_for @d %>
				          <%= render 'event_downvote'%>
			          <% else %>
				          <%= render 'event_upvote' %>
			          <% end %>
                <%else%>
               <%= link_to "Like", new_user_session_path%>
                <%end%>
              </div>
            </div>

              <div class="like-number" id='event<%=@d.id%>'>
                <%= @.credit + @d.get_likes.size%>
              </div>
            </div>