
          <div class="like-btn">
          <div class="like-like">
          <div id = 'like-<%=@d.id%>'>
              <% if user_signed_in? %>
                <% if current_user.voted_as_when_voted_for @d %>
				          <%= render 'event_downvote'%>
			          <% else %>
				          <%= render 'event_upvote' %>
			          <% end %>
                <%else%>
                   <%= link_to new_user_session_path do%>
                    <!--<i class="tiny material-icons" style="opacity:0.4">favorite_border</i>-->
                      <i class="zmdi zmdi-plus-circle-o"></i>
                  <%end%>
                <%end%>
              </div>
            </div>

              <div class="like-number" id='event<%=@d.id%>'>
                <%= @d.cached_votes_total +@d.credits%>
              </div>
            </div>