<p id="notice"><%= notice %></p>
<%@events = Event.all%>



<!--START URBANISTHOURS --> 

<div id="Market_Square">
     <p class="center-tit"><%= link_to 'See Downtown Hours', downtown_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true %></p>
    <%@urbanist_batch = []%>
    <%@urbanist_venues.where(neighborhood_id: 5).each do |venue|%>
        <%a= venue.id%>
        <%events = @events.where(venue_id: a).to_a%>
        <%events.each do |event|%>
         <%@urbanist_batch.push(event)%>
    <%end%>
    <%end%>
     
     
</div>

<div id="Southside">
  
    <p class="center-tit"><%= link_to 'See South Side Hours', south_side_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true %></p>
     <%@urbanist_batch = []%>
    <%@urbanist_venues.where(neighborhood_id: 1).each do |venue|%>
        <%a= venue.id%>
        <%events = @events.where(venue_id: a).to_a%>
        <%events.each do |event|%>
         <%@urbanist_batch.push(event)%>
    <%end%>
    <%end%>
     

</div>

<div id="Shadyside">
     <p class="center-tit"><%= link_to 'See Shadyside Hours', shadyside_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true %></p>
    <%@urbanist_batch = []%>
    <%@urbanist_venues.where(neighborhood_id: 2).each do |venue|%>
        <%a= venue.id%>
        <%events = @events.where(venue_id: a).to_a%>
        <%events.each do |event|%>
         <%@urbanist_batch.push(event)%>
    <%end%>
    <%end%>
        
</div>


<div id="Oakland">
     <p class="center-tit"><%= link_to 'See Oakland Hours', oakland_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true %></p>
    <%@urbanist_batch = []%>
    <%@urbanist_venues.where(neighborhood_id: 3).each do |venue|%>
        <%a= venue.id%>
        <%events = @events.where(neighborhood_id: 5,venue_id: a).to_a%>
        <%events.each do |event|%>
         <%@urbanist_batch.push(event)%>
    <%end%>
    <%end%>
        
</div>

<div id="Lawrenceville">
     <p class="center-tit"><%= link_to 'See Lawrenceville/Bloomfield Hours', lawrenceville_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true %></p>
    <%@urbanist_batch = []%>
    <%@urbanist_venues.where(neighborhood_id: 7).each do |venue|%>
    <%@urbanist_venues.where(neighborhood_id: 6).each do |venue|%>
        
        <%a= venue.id%>
        <%events = @events.where(venue_id: a).to_a%>
        <%events.each do |event|%>
         <%@urbanist_batch.push(event)%>
    <%end%>
    <%end%>
        
</div>

<div id="Strip_district">
     <p class="center-tit"><%= link_to 'See Strip District Hours', strip_district_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true %></p>
    <%@urbanist_batch = []%>
    <%@urbanist_venues.where(neighborhood_id: 11).each do |venue|%>
        <%a= venue.id%>
        <%events = @events.where(venue_id: a).to_a%>
        <%events.each do |event|%>
         <%@urbanist_batch.push(event)%>
    <%end%>
    <%end%>
        
</div>

    <div id="East_liberty">
     <p class="center-tit"><%= link_to 'See East Liberty Hours', east_liberty_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true %></p>
    <%@urbanist_batch = []%>
    <%@urbanist_venues.where(neighborhood_id: 9).each do |venue|%>
        <%a= venue.id%>
        <%events = @events.where(venue_id: a).to_a%>
        <%events.each do |event|%>
         <%@urbanist_batch.push(event)%>
    <%end%>
    <%end%>
         
    </div>
     <div id="East_liberty">
     <p class="center-tit"><%= link_to 'See East Liberty Hours', east_liberty_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true %></p>
    <%@urbanist_batch = []%>
    <%@urbanist_venues.where(neighborhood_id: 9).each do |venue|%>
        <%a= venue.id%>
        <%events = @events.where(venue_id: a).to_a%>
        <%events.each do |event|%>
         <%@urbanist_batch.push(event)%>
    <%end%>
    <%end%>
         
    </div> 
    
    <%end%>