<p id="notice"><%= notice %></p>

<div class="card hide">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag "bar4.jpg"%>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Featured Hours<i class="material-icons right">more_vert</i></span>
      <p><a href="#">See Hours</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Featured<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>


<div class="card hide">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag "Penguins-Rangers-playoffs-Chasing-The-Cup.jpg"%>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Gametime Hours<i class="material-icons right">more_vert</i></span>
      <p><a href="#">See Hours</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Gametime Hours<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
<br>
<div class ="center-align">
<%= link_to "South Side Hours", south_side_path , class: "waves-effect waves-light btn-large"%>
</div>
<br>

<div class="row">
      <div>
        <div class="card teal darken-3 center-align
">
          <span class="white-text">
            <div>
               <p class="center-align">Coming Soon!</p>
            </div>
          </span>
        </div>
      </div>
    </div>

<div class ="center-align">
<%= link_to "Oakland Hours", oakland_path , class: "waves-effect waves-light btn-large"%>
</div>
 <br>
<div class ="center-align">
<%= link_to "Shadyside Hours", shadyside_path , class: "waves-effect waves-light btn-large"%>
</div>
 <br>
<div class ="center-align">
<a class="waves-effect waves-light btn-large">East Liberty</a>
</div>
<br>
<div class ="center-align">
<a class="waves-effect waves-light btn-large">Lawrenceville</a>
</div>
<br>


