
<%cache do%>
<h4 class ="flow-text center landing-title"><%=Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{Time.now.in_time_zone("Eastern Time (US & Canada)").day.ordinalize}, %Y")%></h4>
<%= link_to "Today's Features", daily_specials_path, class: "waves-effect waves-light btn newvenue menubtn image-btns featurebtn"%>
<h4 class ="flow-text center landing-title">Happy Hours</h4>
<%= link_to "Downtown", downtown_path, class: "waves-effect waves-light btn newvenue image-btns menubtn marketsquare-btn"%>
<%= link_to "Oakland", oakland_path, class: "waves-effect waves-light btn newvenue menubtn image-btns oaklandbtn"%>
<%= link_to "Shadyside", shadyside_path, class: "waves-effect waves-light btn newvenue menubtn image-btns shadyside-btn"%>
<%= link_to "Lawrenceville", lawrenceville_path, class: "waves-effect waves-light btn newvenue menubtn image-btns lawrenceville-btn"%>
<%= link_to "South Side", south_side_path, class: "waves-effect waves-light btn newvenue menubtn image-btns southside-btn"%>
<h4 class ="flow-text center landing-title">Coming Soon</h4>
<%= link_to "Strip District", landing_path, class: "waves-effect waves-light btn newvenue image-btns menubtn strip_district-btn"%>

<%end%>

<div class = "hide">
  <h4 class ="flow-text center landing-title">Coming Soon</h4>
<%= link_to "Strip District", landing_path, class: "waves-effect waves-light btn newvenue image-btns menubtn strip_district-btn"%>
<%= link_to "East Liberty", landing_path, class: "waves-effect waves-light btn newvenue image-btns menubtn east_liberty-btn"%>
<div style="display:none;">

</div>
</div>