
<% content_for :head do%>

<meta property="og:site_name" content="HoursPGH" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%=Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{Time.now.in_time_zone("Eastern Time (US & Canada)").day.ordinalize}, %Y")%> <%=@topic%>" />
<meta property="og:description" content="<%=@topic_description%>" />
<meta property="og:image" content="http://www.hourspgh.com/assets/HoursAd_V4-9f36b77e65320ff624eacd4c4c7d44660d31dabd977c9aef2782ee9fc879232c.jpg" />
<%end%>

<% cache("landing", :expires_in => 10.minutes) do %>
<h4 class ="flow-text center landing-title"><%=Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{Time.now.in_time_zone("Eastern Time (US & Canada)").day.ordinalize}, %Y")%></h4>
<%= link_to "Today's Features", daily_specials_path, class: "waves-effect waves-light btn newvenue menubtn image-btns featurebtn"%>

<h4 class ="flow-text center landing-title">Happy Hours</h4>

<div class="container">
<div class="row con-neighb">
<div class="col m4 s6">
<%= link_to "Downtown", downtown_path, class: "waves-effect waves-light btn newvenue image-btns menubtn marketsquare-btn"%>
</div>

<div class="col m4 s6">
<%= link_to "Oakland", oakland_path, class: "waves-effect waves-light btn newvenue menubtn image-btns oaklandbtn"%>
</div>

<div class="col m4 s6">
<%= link_to "Shadyside", shadyside_path, class: "waves-effect waves-light btn newvenue menubtn image-btns shadyside-btn"%>
</div>

<div class="col m4 s6">
<%= link_to "Lawrenceville", lawrenceville_path, class: "waves-effect waves-light btn newvenue menubtn image-btns lawrenceville-btn"%>
</div>

<div class="col m4 s6">
<%= link_to "South Side", south_side_path, class: "waves-effect waves-light btn newvenue menubtn image-btns southside-btn"%>
</div>

<div class="col m4 s6">
<%= link_to "Strip District", strip_district_path, class: "waves-effect waves-light btn newvenue image-btns menubtn strip_district-btn"%>
</div>
</div>
</div>

<h4 class ="flow-text center landing-title">New Arrival</h4>
<%= link_to "East Liberty", east_liberty, class: "waves-effect waves-light btn newvenue image-btns menubtn east_liberty-btn"%>
<div class = "hide"><%= link_to "Brunch", landing_path, class: "waves-effect waves-light btn newvenue image-btns menubtn brunch-btn"%></div>
<% if (user_signed_in?)%>
   <% if current_user.admin?%>
<div>
<%=link_to "Send Reminders", daily_mailer_path, method: :get, remote: true%>
</div>
    <%end%>
<%end%>

<div class = "hide">
  <h4 class ="flow-text center landing-title">Coming Soon</h4>
<%= link_to "Strip District", landing_path, class: "waves-effect waves-light btn newvenue image-btns menubtn strip_district-btn"%>
<%= link_to "East Liberty", landing_path, class: "waves-effect waves-light btn newvenue image-btns menubtn east_liberty-btn"%>
<div style="display:none;">
<%end%><!--cache end-->
</div>
</div>

<!-- 	<input class="create-notification" placeholder="Send a notification :)"></input>

	<button class="submit-notification">Go!</button>

	<div class="notification">
	</div>


	<script>
	var pusher = new Pusher('e29028c930b5a4a8f36e');
	var notificationsChannel = pusher.subscribe('notifications');
	notificationsChannel.bind('new_notification', function(notification){
		var message = notification.message;
		toastr.success(message)
	});
	var sendNotification = function(){
		var text = $('input.create-notification').val();
		$.post('/notification', {message: text}).success(function(){
			console.log('Notification sent!');
		});
	};
	$('button.submit-notification').on('click', sendNotification);
	</script> -->


<!--
<script>



    var pusher = new Pusher('e29028c930b5a4a8f36e', {
      encrypted: true
    });

    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      alert(data.message);
    });
  </script>  -->


