<%= link_to "South Side", south_side_path, class: "waves-effect waves-light btn newvenue menubtn"%>
<%= link_to "Shadyside", shadyside_path, class: "waves-effect waves-light btn newvenue menubtn"%>
<%= link_to "Oakland", oakland_path, class: "waves-effect waves-light btn newvenue menubtn"%>
<!--Hiding this for now until styling is complete
<div class = "center">
<div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <%= image_tag "carmellas.jpg"%>
              <span class="card-title">Carmella's Pint's and Plates</span>
            </div>
            <div class="card-content">
              <p><%= DailySpecial.first.description%></p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
</div>
-->