
<%cache do%>
<h4 class ="flow-text center"><%=Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y")%></h4>
<%= link_to "Today's Specials", daily_specials_path, class: "waves-effect waves-light btn newvenue menubtn image-btns featurebtn"%> <h4 class ="flow-text center">Happy Hours</h4>
<%= link_to "South Side", south_side_path, class: "waves-effect waves-light btn newvenue menubtn image-btns southside-btn"%>
<%= link_to "Oakland", oakland_path, class: "waves-effect waves-light btn newvenue menubtn image-btns oaklandbtn"%>
<%= link_to "Shadyside", shadyside_path, class: "waves-effect waves-light btn newvenue menubtn image-btns shadyside-btn"%>
<%= link_to "Lawrenceville", lawrenceville_path, class: "waves-effect waves-light btn newvenue menubtn image-btns lawrenceville-btn"%>
<%= link_to "Market Square", market_square_path, class: "waves-effect waves-light btn newvenue image-btns menubtn marketsquare-btn"%>
<%end%>

<div class = "hide">
<div style="display:none;">
<%= link_to "Cultural District", culture_district_path, class: "waves-effect waves-light btn newvenue menubtn image-btns culture_district-btn"%>
</div>
</div>