
<% content_for :head do%>

<meta property="og:site_name" content="HoursPGH" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%=Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{Time.now.in_time_zone("Eastern Time (US & Canada)").day.ordinalize}, %Y")%> <%=@topic%>" />
<meta property="og:description" content="<%=@topic_description%>" />
<meta property="og:image" content="http://www.hourspgh.com/assets/HoursAd_V4-9f36b77e65320ff624eacd4c4c7d44660d31dabd977c9aef2782ee9fc879232c.jpg" />
<%end%>


<div class="row about-top">
  <div class="col s12 m12 center">
    <h2>What Are Your Favorite Hours?</h2>
    <p style="color: #fff;">Build a profile of your favorite Hours in Pittsburgh.</p>
  </div>
  
  <div class = "center">
<%if (user_signed_in?)%>
<%= link_to edit_user_registration_path, class: "btn-flat disabled text-accent-4 venue-profile-buttons" do%>
	My Profile
<%end%>
<%else%>
<%= link_to new_user_session_path, class: "btn-flat disabled text-accent-4 venue-profile-buttons" do%>
	Create Profile
<%end%>
<%end%>
</div>
</div>


<% cache("landing", :expires_in => 24.hours) do %>
<h4 class ="flow-text center landing-title hide"><%=Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{Time.now.in_time_zone("Eastern Time (US & Canada)").day.ordinalize}, %Y")%></h4>
<!--div class = "z-depth-2"--><%= link_to "Today's Features", daily_specials_path, class: "hide waves-effect waves-light btn newvenue menubtn image-btns featurebtn z-depth-3"%><!--/div-->


<h4 class ="flow-text center landing-title">Happy Hours</h4>

<div class="container">
<div class="row con-neighb">
<div class="col m4 s6 z-depth-1">
<%= link_to "Downtown", downtown_path, class: "waves-effect waves-light btn newvenue image-btns menubtn marketsquare-btn "%>
</div>

<div class="col m4 s6 z-depth-1">
<%= link_to "Oakland", oakland_path, class: "waves-effect waves-light btn newvenue menubtn image-btns oaklandbtn"%>
</div>

<div class="col m4 s6 z-depth-1">
<%= link_to "Shadyside", shadyside_path, class: "waves-effect waves-light btn newvenue menubtn image-btns shadyside-btn"%>
</div>

<div class="col m4 s6 z-depth-1">
<%= link_to "Lawrenceville", lawrenceville_path, class: "waves-effect waves-light btn newvenue menubtn image-btns lawrenceville-btn"%>
</div>

<div class="col m4 s6 z-depth-1">
<%= link_to "South Side", south_side_path, class: "waves-effect waves-light btn newvenue menubtn image-btns southside-btn"%>
</div>

<div class="col m4 s6 z-depth-1">
<%= link_to "Strip District", strip_district_path, class: "waves-effect waves-light btn newvenue image-btns menubtn strip_district-btn"%>
</div>

<div class = "col m6 s6 z-depth-1">
<%= link_to "East Liberty", east_liberty_path, class: "waves-effect waves-light btn newvenue image-btns menubtn east_liberty-btn"%>
</div>

<div class = "col m6 s6 z-depth-1">
<%= link_to "Bloomfield", bloomfield_path, class: "waves-effect waves-light btn newvenue image-btns menubtn bloomfield-btn"%>
</div>


</div>
</div>

<h4 class ="flow-text center landing-title hide">New Arrivals</h4>


<div class="row con-neighb hide">
<div class = "col m6 s6 z-depth-1">
<%= link_to "East Liberty", east_liberty_path, class: "waves-effect waves-light btn newvenue image-btns menubtn east_liberty-btn"%>
</div>

<div class = "col m6 s6 z-depth-1">
<%= link_to "Bloomfield", bloomfield_path, class: "waves-effect waves-light btn newvenue image-btns menubtn bloomfield-btn"%>
</div>
</div>
<div class = "hide"><%= link_to "Brunch", landing_path, class: "waves-effect waves-light btn newvenue image-btns menubtn brunch-btn"%></div>
<% if (user_signed_in?)%>
   <% if current_user.admin?%>
<div class="hide">
<%=link_to "Send Reminders", daily_mailer_path, method: :get, remote: true%>
</div>

</div>
    <%end%>
<%end%>

<%end%><!--cache end-->
</div>
</div>
<br>

<% if (user_signed_in?)%>
   <% if current_user.admin?%>
<div class="hide">
<%=link_to "Send Reminders", daily_mailer_path, method: :get, remote: true%>
</div>

    <%end%>
<%end%>

<% if @new_events.count > 0%>
<div class="container cont-sec">
	<div class="contributors-section">
<h4 class ="flow-text center landing-title">NEW HOURS</h4>
<p class="center">At least 10 users or one superuser need to like new hours for them to become verified Hours</p>
</div>
<div class ="center" id="specials">
	<div class="col s3 profilepage">
			<%= render "new_hours_partial"%>
	</div>
</div>
<div class = "center">
<%if (user_signed_in?)%>
<%= link_to new_event_path, class: "btn-flat disabled text-accent-4 venue-profile-buttons hide" do%>
	<i class="material-icons">access_time</i>
	Create New Hour

<%end%>
<%else%>
<%= link_to new_user_session_path, class: "btn-flat disabled text-accent-4 venue-profile-buttons" do%>
	<i class="material-icons">access_time</i>
	Create New Hour
<%end%>
<%end%>
</div>


<%end%>
</div>
<br>
<div class="contributors-section">
	<h4 class ="flow-text center landing-title">TOP CONTRIBUTORS</h4>
	<p class="center">
		Help build HoursPGH by creating and verifying hours
		<% if user_signed_in?%>
		
		<%else%>
		
		<%= link_to new_user_session_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true do%>
		Sign Up
		<%end%>
		<%end%>
		
		
		
	</p>
	
	
	<div class = "center hide">
	<a class="waves-effect waves-light btn black"><i class="material-icons left">history</i>Join</a>
	</div>
</div>
<div class = "contributors ">
	
	<ul class="collapsible beerlist ">
		<%top_5 = 0%>
		<% @user_array.each do |user|%>
			
			<%if top_5 < 5%>
				<%if user.fullname && user.experience%>
					<div class="collapsible-header special-by-day z-depth-1">
						
						<li >
							<% if user.experience > 100 %>
								<div class = "right"><i class="tiny material-icons" >verified_user</i></div>
							<%end%>
							<p class="namecont"><%= link_to "#{user.fullname}", user %></p>
							<p>Hours: <%= number_with_delimiter(user.experience, :delimiter => ',') %></p>
						
						</li>
					</div>
					<%top_5 = top_5 + 1 %>
				<%end%>
			<%end%>
		<%end%>
	</ul>

</div>
<br>
<!-- this is testing for new events--> 


<% if @events_with_claims.count < 0%>
<h4 class ="flow-text center landing-title">HOUR Claims</h4>


<div class ="center" id="specials">
	<div class="col s3 profilepage">
<%= render "new_hours_partial"%>
</div>
<%end%>


<!--<a href="https://m.uber.com/ul/?action=setPickup">UBER</a>
<%@embed%>-->

