

<%= link_to "South Side", south_side_path, class: "waves-effect waves-light btn newvenue menubtn image-btns southside-btn"%>
<%= link_to "Shadyside", shadyside_path, class: "waves-effect waves-light btn newvenue menubtn image-btns shadyside-btn"%>
<%= link_to "Oakland", oakland_path, class: "waves-effect waves-light btn newvenue menubtn image-btns oaklandbtn"%>
<%= link_to "Market Square", market_square_path, class: "waves-effect waves-light btn newvenue image-btns menubtn marketsquare-btn"%>


<%= link_to "Lawrenceville", lawrenceville_path, class: "waves-effect waves-light btn newvenue menubtn image-btns lawrenceville-btn"%>

<div style="display:none;">
<!--<div class="specials-header southside-header neighborhoodtop">

<h4 class="flow-text">South Side</h4>
<h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
</div>
<br>
<div class="specials-header shadyside-header neighborhoodtop">

<h4 class="flow-text">Shadyside</h4>
<h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
</div>
<br>
<div class="specials-header marketsquare-header neighborhoodtop">

<h4 class="flow-text">Market Square</h4>
<h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
</div>
<br>
<div class="specials-header oakland-header neighborhoodtop">

<h4 class="flow-text">Oakland</h4>
<h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
</div>
<br>
<div class="specials-header lawrenceville-header neighborhoodtop">

<h4 class="flow-text">Lawrenceville</h4>
<h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
</div>-->
<!-- Hiding til its styled
<div class = "center">
<div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <%= image_tag "carmellas.jpg"%>
              <span class="card-title">Carmella's Pint's and Plates</span>
            </div>
            <div class="card-content">
              <p>details</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
</div>
-->
</div>