<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <%= link_to 'Back',  events_path, class: "waves-effect waves-light btn" %>
</div>

<div class="specials-header">
<h5 class="flow-text" style="font-size:170%;">Today's South Side Hours</h5>
<h4 class="flow-text" style="font-size:200%;color:#4db6ac;"><%= @day_tag %></h4>
</div>



<br>
<% if (user_signed_in?)%>
   <% if current_user.admin? %>
<%= link_to 'New Happy Hour', new_event_path, class: "waves-effect waves-light btn" %>
<%= link_to 'New Venue', new_venue_path, class: "waves-effect waves-light btn" %>
<%end%>
<%end%>


<div class ="center">
<%=render partial: "shared/dynamic_table_cards"%>
</div>

