

<!--<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <%= link_to 'Back',  events_path, class: "waves-effect waves-light btn menubtn" %>
</div>-->

<div class="specials-header">

<h4 class="flow-text">South Side</h4>
<h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
</div>

<div class="row" style="margin:0;">
    <div class="col s12 profile-tabs neiborhoodprofile">
      <%if @b > 4 && @b < 22 %>
      <ul class="tabs">
        <li class="tab col s4"><a href="#venues">Venues</a></li>
        <li class="tab col s4"><a class="active" href="#specials">Hours</a></li>
        <%unless @daily_specials.empty?%>
       <!-- <li class="tab col s4"><a href="#featured-dish">Features</a></li>-->
        <%end%>
      </ul>
  <%else%>
      <ul class="tabs">
        <li class="tab col s4"><a class="active" href="#venues">Venues</a></li>
        <li class="tab col s4"><a href="#specials">Hours</a></li>
        <%unless @daily_specials.empty?%>
        <!--<li class="tab col s4"><a href="#featured-dish">Features</a></li>-->
        <%end%>
      </ul>
   <%end%>
    </div>
  </div>

<!--TABS-->
<script>
   $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>
<!--END TABS-->


<div class ="center" id="venues">
  <%=render partial: "shared/venue_index"%>
</div>
<div class ="center" id="specials">
  <div class="key-color" style="position:relative;">

    <div style="display:block;margin-top:6px;">
        <div class="later-tab" style="position: inherit; width: 45px; display:inline-block;background-color:#bdbdbd">Past</div>
      <div class="now-tab" style="position: inherit; width: 45px; display:inline-block;">Now</div>
      <div class="later-tab" style="position: inherit; width: 45px; display:inline-block;">Later</div>
    </div>

     <div class="search-tab-btn">
      <div class="click-open-search"> <i class="material-icons">search</i></div>
 <%= form_tag(south_side_path, :method => "get", id: "search-form") do %>
<!-- text field tag=action,args,identifier,placeholdertext... -->
<%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Search Specials", type: "search", data: {autocomplete: south_side_autocomplete_event_special_path} %>

      <div class="search-btn">
<%= submit_tag "Search" %>
      </div>
<%end%>

<script type="text/javascript" charset="utf-8">
  $('#search').bind('railsAutocomplete.select', function(event, data){
  $('#search-form').submit()
  });
</script>
<%= link_to "clear", south_side_path%>

  </div>

<script>

  $( ".click-open-search" ).click(function() {
  $( ".search-tab-btn" ).toggleClass( "slide-out-search" );
});

  </script>





</div>

<%=render partial: "shared/dynamic_table_card"%>
</div>
<div class = "hide">
<%unless @daily_specials.empty?%>
<div class ="center" id="featured-dish">
  <div class="key-color">
    <div class="later-tab" style="position: inherit; width: 45px; display:inline-block;background-color:#bdbdbd">Past</div>
  <div class="now-tab" style="position: inherit; width: 45px; display:inline-block;">Now</div>
  <div class="later-tab" style="position: inherit; width: 45px; display:inline-block;">Later</div>

</div>
  <%end%>
  </div>
<!-- render partial: "shared/featured_dish_table" -->
</div>

<!-- This script is for Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77170385-1', 'auto');
  ga('send', 'pageview');

</script>
