<% content_for :head do%>

<meta property="og:site_name" content="HoursPGH" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%=Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{Time.now.in_time_zone("Eastern Time (US & Canada)").day.ordinalize}, %Y")%> <%=@topic%>" />
<meta property="og:description" content="<%=@topic_description%>" />
<meta property="og:image" content="<%=@page_image%>" />
<%end%>

<p id="notice"><%= notice %></p>
<div class="urbanist-page">
<nav class="urbanist-nav">
    <div class="nav-wrapper">
      <a href="http://www.hourspgh.com/urbanist" target="_blank" class="brand-logo"><%= image_tag "urbanist-logo.png"%></a>

    </div>
  </nav>



<div class="row" style="margin:0;">
    <div class="col s12 profile-tabs neiborhoodprofile">
      <ul class="tabs">
        <li class="tab col s4"><a href="#venues">Features</a></li>
        <li class="tab col s4"><a href="#featured-urbanist">Hours</a></li>
        <li class="tab col s4"><a class="active" href="#about">About</a></li>
      </ul>
    </div>
  </div>

<!--TABS-->
<script>

      $(".button-collapse").sideNav();

</script>
<!--END TABS-->

<div class="about-urbanist" id="about">
  <div class="specials-header urbanist-header neighborhoodtop">
      <h4 class="flow-text">About</h4>
      <div style="display:none;">
        <h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
      </div>
   </div>
  <div class="row urbanist-about">
 <%@page_iamge = image_tag "Urbanist-mags.jpg"%>
    <div class="col s12">
     <div class="slider">
    <ul class="slides">
      <li>
       <%= image_tag "Urbanist-mags.jpg"%>
      </li>
      <li>
        <%= image_tag "slide2.jpg"%>
      </li>
      <li>
        <%= image_tag "slide3.jpg"%>
      </li>
      <li>
        <%= image_tag "slide4.jpg"%>
      <li>
        <%= image_tag "slide5.jpg"%>
      </li>
    </ul>
  </div>
    </div>

    <script>
       $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
    </script>





      <p>
        Since 2012 URBANIST has made it easy for both tourists and locals to pinpoint the outstanding local & independent businesses in Pittsburgh with its annual printed & digital city guide.  At URBANIST, we are continually inspired by the entrepreneurs who have risked so much to create a unique experience for locals and visitors. They deserve your support. Restaurants that spark conversation. Shopping that encourages individuality. Nightlife that favors authenticity. We believe the businesses listed here represent the best our city has to offer including killer drink specials.  Cheers.
      </p>
    <div class = "center">
    <a href="http://www.hourspgh.com/urbanist" target="_blank" class="btn-flat disabled teal-text text-accent-4">Visit Urbanist</a>
    </div>
  </div>
</div>


<div id="venues">
<div class="urbanist-featured">
  <div class="specials-header urbanist-venues urbanist-header neighborhoodtop">
      <h4 class="flow-text">Featured</h4>
      <div style="display:none;">
        <h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
      </div>
   </div>





  <div class="powered-by">
    <h5><%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
    <a href="http://www.hourspgh.com/" target="_blank"><%= image_tag "powered-hours.png"%></a>
  </div>

<%if DailySpecial.where(venue_id: @market_square_venues.pluck(:id)).today.count > 0 %>
  <div class="title-sep">
    <hr>
<!--<h4 class="flow-text listtitle">Downtown</h4>-->
  </div>
<%@verified_this_week = Venue.between_times(@week_ago, @today).where(  neighborhood_id: 5)%>
<%@verified_after_week = Venue.between_times(@month_ago,@week_ago).where(  neighborhood_id: 5)%>
<%@verified_month_ago = Venue.before(@month_ago).where(  neighborhood_id: 5)%>
  <%= render partial: "shared/featured_dish_table"%>
<%end%>

<%if DailySpecial.where(venue_id: @south_side_venues.pluck(:id)).today.count > 0 %>
  <div class="title-sep">
    <hr>
    <!--<h4 class="flow-text listtitle">South Side</h4>-->
 </div>
<%@verified_this_week = Venue.between_times(@week_ago, @today).where(  neighborhood_id: 1)%>
<%@verified_after_week = Venue.between_times(@month_ago,@week_ago).where(  neighborhood_id: 1)%>
<%@verified_month_ago = Venue.before(@month_ago).where(  neighborhood_id: 1)%>
   <%= render partial: "shared/featured_dish_table"%>
<%end%>

  <%if DailySpecial.where(venue_id: @shadyside_venues.pluck(:id)).today.count > 0 %>
<div class="title-sep">
  <hr>
<!--<h4 class="flow-text listtitle">Shadyside</h4>-->
  </div>
<%@verified_this_week = Venue.between_times(@week_ago, @today).where(  neighborhood_id: 2)%>
<%@verified_after_week = Venue.between_times(@month_ago,@week_ago).where(  neighborhood_id: 2)%>
<%@verified_month_ago = Venue.before(@month_ago).where(  neighborhood_id: 2)%>
   <%= render partial: "shared/featured_dish_table"%>
<%end%>

 <%if DailySpecial.where(venue_id: @lawrenceville_bloomfield_venues.pluck(:id)).today.count > 0 %>
<div class="title-sep">
  <hr>
<!--<h4 class="flow-text listtitle">Lawrenceville/Bloomfield</h4>-->
  </div>
<%@verified_this_week = Venue.between_times(@week_ago, @today).where(  neighborhood_id: [7,6])%>
<%@verified_after_week = Venue.between_times(@month_ago,@week_ago).where(  neighborhood_id: [7,6])%>
<%@verified_month_ago = Venue.before(@month_ago).where(  neighborhood_id: [7,6])%>
   <%= render partial: "shared/featured_dish_table"%>
<%end%>

<%if DailySpecial.where(venue_id: @oakland_venues.pluck(:id)).today.count > 0 %>
<div class="title-sep">
    <hr>
<!--<h4 class="flow-text listtitle">Oakland</h4>-->
  </div>
<%@verified_this_week = Venue.between_times(@week_ago, @today).where(  neighborhood_id: 3)%>
<%@verified_after_week = Venue.between_times(@month_ago,@week_ago).where(  neighborhood_id: 3)%>
<%@verified_month_ago = Venue.before(@month_ago).where(  neighborhood_id: 3)%>
 <%= render partial: "shared/featured_dish_table"%>
<%end%>

  <%if DailySpecial.where(venue_id: @strip_district_venues.pluck(:id)).today.count > 0 %>
<div class="title-sep">
    <hr>
<!--<h4 class="flow-text listtitle">Strip District</h4>-->
  </div>
<%@verified_this_week = Venue.between_times(@week_ago, @today).where(  neighborhood_id: 11)%>
<%@verified_after_week = Venue.between_times(@month_ago,@week_ago).where(  neighborhood_id: 11)%>
<%@verified_month_ago = Venue.before(@month_ago).where(  neighborhood_id: 11)%>
 <%= render partial: "shared/featured_dish_table"%>
<%end%>



  </div>
</div>
</div>
</div>
<!--   End of Features -->

<div id="featured-urbanist">

   <div class="specials-header urbanist-featured urbanist-header neighborhoodtop">
      <h4 class="flow-text">Hours</h4>
      <div style="display:none;">
        <h5 class="flow-text">Hours for <%= @day_tag %>, <%=Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{Time.now.in_time_zone("Eastern Time (US & Canada)").day.ordinalize}, %Y")%></h5>
      </div>
   </div>
   

  <div class="powered-by">
    <h5><%= @day_tag %>, <%=Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{Time.now.in_time_zone("Eastern Time (US & Canada)").day.ordinalize}, %Y")%></h5>
    <a href="http://www.hourspgh.com/" target="_blank"><%= image_tag "powered-hours.png"%></a>
  </div>

    





<!--START URBANISTHOURS --> 
<div class="row urbanist-tabs" style="margin: 3px 0 8px 0;">
    <div class="col s12 profile-tabs venues">
      <ul class="tabs tab-demo" style="width: 100%;">
        <li class="tab Market_Square"><a class="active" href="#Market_Square"><br/>Downtown</a></li>
        <li class="tab Southside"><a class="" href="#Southside"><br/>South Side</a></li>
        <li class="tab Shadyside"><a class="" href="#Shadyside"><br/>Shadyside</a></li>
        <li class="tab Oakland"><a class="" href="#Oakland"><br/>Oakland</a></li>
        <li class="tab Lawrenceville"><a class="" href="#Lawrenceville">Lawrenceville</a></li>
        <li class="tab East_liberty"><a class="" href="#Bloomfield"><br/>Bloomfield</a></li>
        <li class="tab Strip_district"><a class="" href="#Strip_district"><br/>Strip District</a></li>
        <li class="tab East_liberty"><a class="" href="#East_liberty"><br/>East Liberty</a></li>
        <li class="tab East_liberty"><a class="" href="#North_side"><br/>North Side</a></li>
        <li class="tab East_liberty"><a class="" href="#Mt_washington"><br/>Mt. Washington</a></li>
      </ul>
    </div>
  </div>

<script>
   $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>


<div class="add-height"></div>

<div id="key-fixed">
<div class="key-color">
            <div style="display:block; text-align:center">
                <div class="later-tab" style=
                "position: inherit; width: 45px; display:inline-block;background-color:#bdbdbd">
                Past
                </div>


                <div class="now-tab" style=
                "position: inherit; width: 45px; display:inline-block;">
                    Now
                </div>


                <div class="later-tab" style=
                "position: inherit; width: 45px; display:inline-block;">
                    Later
                </div>
            </div>


            <div class="search-tab-btn">
                <div class="click-open-search">
                    <!--<i class="material-icons">search</i>-->
                  <i class="zmdi zmdi-search"></i>
                    
                </div>
                <%= form_tag(@neighborhood_path, :method => "get", id: "search-form") do %><!-- text field tag=action,args,identifier,placeholdertext... -->
                <%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Search Specials", type: "search", data: {autocomplete: @autocomplete_path} %>

                <div class="search-btn">
                    <%= submit_tag "Search" %>
                </div>
                <%end%>
                <script charset="utf-8" type="text/javascript">
                $('#search').bind('railsAutocomplete.select', function(event, data){
                $('#search-form').submit()
                });
                </script> <%= link_to "clear", @neighborhood_path%>
            </div>
            <script>

            $( ".click-open-search" ).click(function() {
            $( ".search-tab-btn" ).toggleClass( "slide-out-search" );
            });

            </script>
        </div>
</div>

<div class = "center">
<%= raw @tag_events.tag_counts_on(:tags).limit(5).map { |t| link_to t.name, urb_tag_path(t.name), class:"disabled teal-text text-accent-4" }.join('  |') %> | <%=link_to "All", urbanist_path, class:"disabled teal-text text-accent-4"%>
</div>

<script>
  $(document).ready(function() {
    
  $(window).scroll(function () {
      //if you hard code, then use console
      //.log to determine when you want the
      //nav bar to stick.
//    console.log($(window).scrollTop())
    if ($(window).scrollTop() > 387) {
      $('#key-fixed').addClass('navbar-fixed2');
       $('.add-height').addClass('show-height');
    }
    if ($(window).scrollTop() < 387) {
      $('#key-fixed').removeClass('navbar-fixed2');
      $('.add-height').removeClass('show-height');
    }
  });
});
</script>
s
<div id = "hours_partial">

</div>
<!--END URBANISTHOURS --> 
</div>

</div>

<div class="container" style="background-color:#eee;">
<div class="combined-hours">
<%venues = []%>
<%count = 0 %>
<%daily_special_count = @daily_specials.count%> 
<%@events.each do |event| %>
	<%venues.push(event.venue)%>
<%end%>

	<%venues.uniq.each_slice(3) do |venue| %>
	 
		<%venue.each do |venue_list| %>	
			<%@venue_ids = [venue_list.id]%>
			<%=render partial: "shared/first_batch_new"%>
			
		<%end%>
		<%if venue.count == 3 && count != daily_special_count %>
			<%@special_array = [@daily_specials[count]]%>
			
			<%=render "first_special_batch_now"%>
			<%venues = venues.drop(1)%>
			<%count = count + 1  %>
			
			
		<%end%>
<%end%>
</div>
</div>