<p id="notice"><%= notice %></p>
<div class="urbanist-page">
<nav class="urbanist-nav">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><%= image_tag "urbanist-logo.png"%></a>

    </div>
  </nav>



<div class="row" style="margin:0;">
    <div class="col s12 profile-tabs neiborhoodprofile">
      <ul class="tabs">
        <li class="tab col s4"><a href="#venues">Features</a></li>
        <li class="tab col s4"><a href="#featured-urbanist">Venues</a></li>
        <li class="tab col s4"><a class="active" href="#about">About</a></li>
      </ul>
    </div>
  </div>

<!--TABS-->
<script>
   $(document).ready(function(){
    $('ul.tabs').tabs();
  });

      $(".button-collapse").sideNav();

</script>
<!--END TABS-->

<div class="about-urbanist" id="about">
  <div class="specials-header urbanist-header neighborhoodtop">
      <h4 class="flow-text">About</h4>
      <div style="display:none;">
        <h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
      </div>
   </div>
  <div class="row urbanist-about">

    <div class="col s12">
     <div class="slider">
    <ul class="slides">
      <li>
       <%= image_tag "Urbanist-mags.jpg"%>
      </li>
      <li>
        <%= image_tag "slide2.jpg"%>
      </li>
      <li>
        <%= image_tag "slide3.jpg"%>
      </li>
      <li>
        <%= image_tag "slide4.jpg"%>
      <li>
        <%= image_tag "slide5.jpg"%>
      </li>
    </ul>
  </div>
    </div>

    <script>
       $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
    </script>





      <p>
        URBANIST guide aims to produce the best printed city guides in the nation. Since 2009 URBANIST has made it easy for both tourists and locals to pinpoint the outstanding local businesses in San Diego. With the addition of two more cities in 2013, URBANIST looks to create an expanded network of some of the best small businesses in the country. We are continually inspired by the entrepreneurs who have risked so much to create a unique experience for locals and visitors. They deserve your support. Restaurants that spark conversation. Shopping that encourages individuality. Nightlife that favors authenticity. Salons that understand you. Art that excites you. We believe the businesses listed here represent the best our select cities have to offer.
      </p>
  </div>
</div>

<div id="venues">

  <div class="specials-header urbanist-venues urbanist-header neighborhoodtop">
      <h4 class="flow-text">Featured</h4>
      <div style="display:none;">
        <h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
      </div>
   </div>



<script>
   $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>

  <div class="powered-by">
    <h5><%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
    <%= image_tag "powered-hours.png"%>
  </div>

<%if DailySpecial.where(venue_id: @market_square_venues.pluck(:id)).today.count > 0 %>
  <div class="title-sep">
    <hr>
<h4 class="flow-text listtitle">Downtown</h4>
  </div>
<%@verified_this_week = Venue.between_times(@week_ago, @today).where(urbanist: true, neighborhood_id: 5)%>
<%@verified_after_week = Venue.between_times(@month_ago,@week_ago).where(urbanist: true, neighborhood_id: 5)%>
<%@verified_month_ago = Venue.before(@month_ago).where(urbanist: true, neighborhood_id: 5)%>
  <%= render partial: "shared/featured_dish_table"%>
<%end%>

<%if DailySpecial.where(venue_id: @south_side_venues.pluck(:id)).today.count > 0 %>
  <div class="title-sep">
    <hr>
    <h4 class="flow-text listtitle">South Side</h4>
 </div>
<%@verified_this_week = Venue.between_times(@week_ago, @today).where(urbanist: true, neighborhood_id: 1)%>
<%@verified_after_week = Venue.between_times(@month_ago,@week_ago).where(urbanist: true, neighborhood_id: 1)%>
<%@verified_month_ago = Venue.before(@month_ago).where(urbanist: true, neighborhood_id: 1)%>
   <%= render partial: "shared/featured_dish_table"%>
<%end%>

  <%if DailySpecial.where(venue_id: @shadyside_venues.pluck(:id)).today.count > 0 %>
<div class="title-sep">
  <hr>
<h4 class="flow-text listtitle">Shadyside</h4>
  </div>
<%@verified_this_week = Venue.between_times(@week_ago, @today).where(urbanist: true, neighborhood_id: 2)%>
<%@verified_after_week = Venue.between_times(@month_ago,@week_ago).where(urbanist: true, neighborhood_id: 2)%>
<%@verified_month_ago = Venue.before(@month_ago).where(urbanist: true, neighborhood_id: 2)%>
   <%= render partial: "shared/featured_dish_table"%>
<%end%>

<%if DailySpecial.where(venue_id: @oakland_venues.pluck(:id)).today.count > 0 %>
<div class="title-sep">
    <hr>
<h4 class="flow-text listtitle">Oakland</h4>
  </div>
<%@verified_this_week = Venue.between_times(@week_ago, @today).where(urbanist: true, neighborhood_id: 3)%>
<%@verified_after_week = Venue.between_times(@month_ago,@week_ago).where(urbanist: true, neighborhood_id: 3)%>
<%@verified_month_ago = Venue.before(@month_ago).where(urbanist: true, neighborhood_id: 3)%>
 <%= render partial: "shared/featured_dish_table"%>
<%end%>
<!--   End of Features -->
</div>

<div id="featured-urbanist" class="center">

   <div class="specials-header urbanist-featured urbanist-header neighborhoodtop">
      <h4 class="flow-text">Venues</h4>
      <div style="display:none;">
        <h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
      </div>
   </div>

  <div class="powered-by">
    <h5><%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
    <%= image_tag "powered-hours.png"%>
  </div>

    <%= render partial: "shared/autocomplete"%>

  <%if Event.where(venue_id: @market_square_venues.pluck(:id), day: @day_tag).count > 0 %>
  <div class="title-sep">
    <hr>
  <h4 class="flow-text listtitle">Market Square</h4>
  </div>
<%@verified_this_week  = @verified_this_weeku.where(neighborhood_id: 5)%>
<%@verified_after_week = @verified_after_weeku.where(neighborhood_id: 5)%>
<%@verified_month_ago  = @verified_month_agou.where(neighborhood_id: 5)%>
<div>
<%=render partial: "shared/dynamic_table_card"%>
</div>
<%end%>

<%if Event.where(venue_id: @south_side_venues.pluck(:id), day: @day_tag).count > 0 %>
  <div class="title-sep">
    <hr>
<h4 class="flow-text listtitle">South Side</h4>
  </div>
<%@verified_this_week  = @verified_this_weeku.where(neighborhood_id: 1)%>
<%@verified_after_week = @verified_after_weeku.where(neighborhood_id: 1)%>
<%@verified_month_ago  = @verified_month_agou.where(neighborhood_id: 1)%>
<%=render partial: "shared/dynamic_table_card"%>
 <% end %>

<%if Event.where(venue_id: @shadyside_venues.pluck(:id), day: @day_tag).count > 0 %>
<div class="title-sep">
  <hr>
<h4 class="flow-text listtitle">Shadyside</h4>
  </div>
<%@verified_this_week  = @verified_this_weeku.where(neighborhood_id: 2)%>
<%@verified_after_week = @verified_after_weeku.where(neighborhood_id: 2)%>
<%@verified_month_ago  = @verified_month_agou.where(neighborhood_id: 2)%>

<%=render partial: "shared/dynamic_table_card"%>

<% end %>


<%if Event.where(venue_id: @oakland_venues.pluck(:id), day: @day_tag).count > 0 %>
  <div class="title-sep">
    <hr>
<h4 class="flow-text listtitle">Oakland</h4>
  </div>
 <%@verified_this_week  = @verified_this_weeku.where(neighborhood_id: 3)%>
<%@verified_after_week = @verified_after_weeku.where(neighborhood_id: 3)%>
<%@verified_month_ago  = @verified_month_agou.where(neighborhood_id: 3)%>
<%=render partial: "shared/dynamic_table_card"%>
 <% end %>

<%if Event.where(venue_id: @lawrenceville_venues.pluck(:id), day: @day_tag).count > 0 %>
  <div class="title-sep">
    <hr>
<h4 class="flow-text listtitle">Lawrenceville</h4>
  </div>
 <%@verified_this_week  = @verified_this_weeku.where(neighborhood_id: 6)%>
<%@verified_after_week = @verified_after_weeku.where(neighborhood_id: 6)%>
<%@verified_month_ago  = @verified_month_agou.where(neighborhood_id: 6)%>
<%=render partial: "shared/dynamic_table_card"%>
   <% end %>
  </div>
</div>

