<% content_for :head do%>

<meta property="og:site_name" content="HoursPGH" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%=Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{Time.now.in_time_zone("Eastern Time (US & Canada)").day.ordinalize}, %Y")%> <%=@topic%>" />
<meta property="og:description" content="<%=@topic_description%>" />
<meta property="og:image" content="<%=@page_image%>" />
<%end%>

<p id="notice"><%= notice %></p>
<div class="urbanist-page">
<nav class="urbanist-nav">
    <div class="nav-wrapper">
      <a href="http://pittsburgh.urbanistguide.com/" target="_blank" class="brand-logo"><%= image_tag "urbanist-logo.png"%></a>

    </div>
  </nav>



<div class="row" style="margin:0;">
    <div class="col s12 profile-tabs neiborhoodprofile">
      <ul class="tabs">
        <li class="tab col s4"><a href="#venues">Features</a></li>
        <li class="tab col s4"><a href="#featured-urbanist">Hours</a></li>
        <li class="tab col s4"><a class="active" href="#about">About</a></li>
      </ul>
    </div>
  </div>

<!--TABS-->
<script>
   $(document).ready(function(){
    $('ul.tabs').tabs();
  });

      $(".button-collapse").sideNav();

</script>
<!--END TABS-->

<div class="about-urbanist" id="about">
  <div class="specials-header urbanist-header neighborhoodtop">
      <h4 class="flow-text">About</h4>
      <div style="display:none;">
        <h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
      </div>
   </div>
  <div class="row urbanist-about">
 <%@page_iamge = image_tag "Urbanist-mags.jpg"%>
    <div class="col s12">
     <div class="slider">
    <ul class="slides">
      <li>
       <%= image_tag "Urbanist-mags.jpg"%>
      </li>
      <li>
        <%= image_tag "slide2.jpg"%>
      </li>
      <li>
        <%= image_tag "slide3.jpg"%>
      </li>
      <li>
        <%= image_tag "slide4.jpg"%>
      <li>
        <%= image_tag "slide5.jpg"%>
      </li>
    </ul>
  </div>
    </div>

    <script>
       $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
    </script>





      <p>
        Since 2012 URBANIST has made it easy for both tourists and locals to pinpoint the outstanding local & independent businesses in Pittsburgh with its annual printed & digital city guide.  At URBANIST, we are continually inspired by the entrepreneurs who have risked so much to create a unique experience for locals and visitors. They deserve your support. Restaurants that spark conversation. Shopping that encourages individuality. Nightlife that favors authenticity. We believe the businesses listed here represent the best our city has to offer including killer drink specials.  Cheers.
      </p>
    <div class = "center">
    <a href="http://pittsburgh.urbanistguide.com/" target="_blank" class="btn-flat disabled teal-text text-accent-4">Visit Urbanist</a>
    </div>
  </div>
</div>


<div id="venues">
<div class="urbanist-featured">
  <div class="specials-header urbanist-venues urbanist-header neighborhoodtop">
      <h4 class="flow-text">Featured</h4>
      <div style="display:none;">
        <h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
      </div>
   </div>



<script>
   $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>

  <div class="powered-by">
    <h5><%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
    <a href="http://www.hourspgh.com/" target="_blank"><%= image_tag "powered-hours.png"%></a>
  </div>

<%if DailySpecial.where(venue_id: @market_square_venues.pluck(:id)).today.count > 0 %>
  <div class="title-sep">
    <hr>
<h4 class="flow-text listtitle">Downtown</h4>
  </div>
<%@verified_this_week = Venue.between_times(@week_ago, @today).where(urbanist: true, neighborhood_id: 5)%>
<%@verified_after_week = Venue.between_times(@month_ago,@week_ago).where(urbanist: true, neighborhood_id: 5)%>
<%@verified_month_ago = Venue.before(@month_ago).where(urbanist: true, neighborhood_id: 5)%>
  <%= render partial: "shared/featured_dish_table"%>
<%end%>

<%if DailySpecial.where(venue_id: @south_side_venues.pluck(:id)).today.count > 0 %>
  <div class="title-sep">
    <hr>
    <h4 class="flow-text listtitle">South Side</h4>
 </div>
<%@verified_this_week = Venue.between_times(@week_ago, @today).where(urbanist: true, neighborhood_id: 1)%>
<%@verified_after_week = Venue.between_times(@month_ago,@week_ago).where(urbanist: true, neighborhood_id: 1)%>
<%@verified_month_ago = Venue.before(@month_ago).where(urbanist: true, neighborhood_id: 1)%>
   <%= render partial: "shared/featured_dish_table"%>
<%end%>

  <%if DailySpecial.where(venue_id: @shadyside_venues.pluck(:id)).today.count > 0 %>
<div class="title-sep">
  <hr>
<h4 class="flow-text listtitle">Shadyside</h4>
  </div>
<%@verified_this_week = Venue.between_times(@week_ago, @today).where(urbanist: true, neighborhood_id: 2)%>
<%@verified_after_week = Venue.between_times(@month_ago,@week_ago).where(urbanist: true, neighborhood_id: 2)%>
<%@verified_month_ago = Venue.before(@month_ago).where(urbanist: true, neighborhood_id: 2)%>
   <%= render partial: "shared/featured_dish_table"%>
<%end%>

 <%if DailySpecial.where(venue_id: @lawrenceville_bloomfield_venues.pluck(:id)).today.count > 0 %>
<div class="title-sep">
  <hr>
<h4 class="flow-text listtitle">Lawrenceville/Bloomfield</h4>
  </div>
<%@verified_this_week = Venue.between_times(@week_ago, @today).where(urbanist: true, neighborhood_id: [7,6])%>
<%@verified_after_week = Venue.between_times(@month_ago,@week_ago).where(urbanist: true, neighborhood_id: [7,6])%>
<%@verified_month_ago = Venue.before(@month_ago).where(urbanist: true, neighborhood_id: [7,6])%>
   <%= render partial: "shared/featured_dish_table"%>
<%end%>

<%if DailySpecial.where(venue_id: @oakland_venues.pluck(:id)).today.count > 0 %>
<div class="title-sep">
    <hr>
<h4 class="flow-text listtitle">Oakland</h4>
  </div>
<%@verified_this_week = Venue.between_times(@week_ago, @today).where(urbanist: true, neighborhood_id: 3)%>
<%@verified_after_week = Venue.between_times(@month_ago,@week_ago).where(urbanist: true, neighborhood_id: 3)%>
<%@verified_month_ago = Venue.before(@month_ago).where(urbanist: true, neighborhood_id: 3)%>
 <%= render partial: "shared/featured_dish_table"%>
<%end%>

  <%if DailySpecial.where(venue_id: @strip_district_venues.pluck(:id)).today.count > 0 %>
<div class="title-sep">
    <hr>
<h4 class="flow-text listtitle">Strip District</h4>
  </div>
<%@verified_this_week = Venue.between_times(@week_ago, @today).where(urbanist: true, neighborhood_id: 11)%>
<%@verified_after_week = Venue.between_times(@month_ago,@week_ago).where(urbanist: true, neighborhood_id: 11)%>
<%@verified_month_ago = Venue.before(@month_ago).where(urbanist: true, neighborhood_id: 11)%>
 <%= render partial: "shared/featured_dish_table"%>
<%end%>



  </div>
</div>

 
<!--   End of Features -->

<div id="featured-urbanist">

   <div class="specials-header urbanist-featured urbanist-header neighborhoodtop">
      <h4 class="flow-text">HOURS</h4>
      <div style="display:none;">
        <h5 class="flow-text">Hours for <%= @day_tag %>, <%=Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{Time.now.in_time_zone("Eastern Time (US & Canada)").day.ordinalize}, %Y")%></h5>
      </div>
   </div>
   

  <div class="powered-by">
    <h5><%= @day_tag %>, <%=Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{Time.now.in_time_zone("Eastern Time (US & Canada)").day.ordinalize}, %Y")%></h5>
    <a href="http://www.hourspgh.com/" target="_blank"><%= image_tag "powered-hours.png"%></a>
  </div>

    <%= render partial: "shared/autocomplete"%>

  <%if Event.where(venue_id: @market_square_venues.pluck(:id), day: @day_tag).count > 0 %>
  <div class="title-sep">
    <hr>
  <h4 class="flow-text listtitle">Market Square</h4>
  </div>
<%@verified_this_week  = @verified_this_weeku.where(neighborhood_id: 5)%>
<%@verified_after_week = @verified_after_weeku.where(neighborhood_id: 5)%>
<%@verified_month_ago  = @verified_month_agou.where(neighborhood_id: 5)%>
<div>
<%=render partial: "shared/dynamic_table_card"%>
</div>
<%end%>

<%if Event.where(venue_id: @south_side_venues.pluck(:id), day: @day_tag).count > 0 %>
  <div class="title-sep">
    <hr>
<h4 class="flow-text listtitle">South Side</h4>
  </div>
<%@verified_this_week  = @verified_this_weeku.where(neighborhood_id: 1)%>
<%@verified_after_week = @verified_after_weeku.where(neighborhood_id: 1)%>
<%@verified_month_ago  = @verified_month_agou.where(neighborhood_id: 1)%>
<%=render partial: "shared/dynamic_table_card"%>
 <% end %>

<%if Event.where(venue_id: @shadyside_venues.pluck(:id), day: @day_tag).count > 0 %>
<div class="title-sep">
  <hr>
<h4 class="flow-text listtitle">Shadyside</h4>
  </div>
<%@verified_this_week  = @verified_this_weeku.where(neighborhood_id: 2)%>
<%@verified_after_week = @verified_after_weeku.where(neighborhood_id: 2)%>
<%@verified_month_ago  = @verified_month_agou.where(neighborhood_id: 2)%>

<%=render partial: "shared/dynamic_table_card"%>

<% end %>


<%if Event.where(venue_id: @oakland_venues.pluck(:id), day: @day_tag).count > 0 %>
  <div class="title-sep">
    <hr>
<h4 class="flow-text listtitle">Oakland</h4>
  </div>
 <%@verified_this_week  = @verified_this_weeku.where(neighborhood_id: 3)%>
 <%@verified_after_week = @verified_after_weeku.where(neighborhood_id: 3)%>
 <%@verified_month_ago  = @verified_month_agou.where(neighborhood_id: 3)%>
<%=render partial: "shared/dynamic_table_card"%>
 <% end %>

<%if Event.where(venue_id: @lawrenceville_bloomfield_venues.pluck(:id), day: @day_tag).count > 0 %>
  <div class="title-sep">
    <hr>
<h4 class="flow-text listtitle">Lawrenceville/Bloomfield</h4>
  </div>
 <%@verified_this_week  = @verified_this_weeku.where(neighborhood_id: [7,6])%>
 <%@verified_after_week = @verified_after_weeku.where(neighborhood_id: [7,6])%>
 <%@verified_month_ago  = @verified_month_agou.where(neighborhood_id: [7,6])%>
<%=render partial: "shared/dynamic_table_card"%>
   <% end %>

<%if Event.where(venue_id: @strip_district_venues.pluck(:id), day: @day_tag).count > 0 %>
  <div class="title-sep">
    <hr>
<h4 class="flow-text listtitle">Strip District</h4>
  </div>
   <%@verified_this_week  = @verified_this_weeku.where(neighborhood_id: 11)%>
   <%@verified_after_week = @verified_after_weeku.where(neighborhood_id: 11)%>
   <%@verified_month_ago  = @verified_month_agou.where(neighborhood_id: 11)%>
   <%=render partial: "shared/dynamic_table_card"%>
   <% end %>

  </div>
</div>

