<p id="notice"><%= notice %></p>

<nav class="urbanist-nav">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><%= image_tag "urbanist-logo.png"%></a>

    </div>
  </nav>


<div class="row" style="margin:0;">
    <div class="col s12 profile-tabs neiborhoodprofile">
      <ul class="tabs">
        <li class="tab col s4"><a href="#venues">Venues</a></li>
        <li class="tab col s4"><a href="#featured-urbanist">Features</a></li>
        <li class="tab col s4"><a class="active" href="#about">About</a></li>
      </ul>
    </div>
  </div>

<!--TABS-->
<script>
   $(document).ready(function(){
    $('ul.tabs').tabs();
  });

      $(".button-collapse").sideNav();

</script>
<!--END TABS-->

<div class="about-urbanist" id="about">
  <div class="specials-header urbanist-header neighborhoodtop">
      <h4 class="flow-text">About</h4>
      <div style="display:none;">
        <h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
      </div>
   </div>
  <div class="row">
      <div class="col s6">
        <%= image_tag "natebenedetto.jpg"%>
      </div>
      <div class="col s6">
        <%= image_tag "mikemcallister.jpg"%>
      </div>

      <p>
        URBANIST guide aims to produce the best printed city guides in the nation. Since 2009 URBANIST has made it easy for both tourists and locals to pinpoint the outstanding local businesses in San Diego. With the addition of two more cities in 2013, URBANIST looks to create an expanded network of some of the best small businesses in the country. We are continually inspired by the entrepreneurs who have risked so much to create a unique experience for locals and visitors. They deserve your support. Restaurants that spark conversation. Shopping that encourages individuality. Nightlife that favors authenticity. Salons that understand you. Art that excites you. We believe the businesses listed here represent the best our select cities have to offer.
      </p>
  </div>
</div>

<div id="venues">

  <div class="specials-header urbanist-venues urbanist-header neighborhoodtop">
      <h4 class="flow-text">Venues</h4>
      <div style="display:none;">
        <h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
      </div>
   </div>



<script>
   $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>

  <div class="powered-by">
    <h5><%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
    <%= image_tag "powered-hours.png"%>
  </div>

<h4 class="flow-text listtitle">Market Square</h4>
  <%@first_batch = []%>
<%@market_square_venues.each do |venue|%>
 <%a= venue.id%>
 <%events = @events.where(venue_id: a)%>
  <%events.each do |event|%>
     <%@first_batch.push(event)%>
    <%end%>
    <%end%>

 <!-- venues -->
  <% @market_square_venues.order("name ASC").each do |venue| %>

  <%unless @todays_feature.count== 0%>
<div class ="center" id="featured-dish">
  
  <%=render partial: "shared/featured_dish_table"%>
</div>
<%end%>


  <div class="display:none">
 <div class="row hourslist">
        <div class="col s12">
          <div class="card beerlist">
            <div class="card-content special-by-day">
              <h4 class="venues"><%= venue.name %></h4>

          <div class="timeforspecial streets">
              <%= truncate(venue.address, length: 40) %><br/>
              <%=Neighborhood.where(id: venue.neighborhood_id).first.name %>
              </div>
            </div>

              <%= link_to 'Show', venue, class: "activator waves-effect waves-light btn openhours", 'data-no-turbolink' => true  %>

            <div class="arrow">
                <%= image_tag "arrow.png"%>
              </div>
          </div>
        </div>
      </div>
  </div>
   <% end %>

<h4 class="flow-text listtitle">South Side</h4>
 <%@first_batch = []%>
<%@south_side_venues.each do |venue|%>
 <%a= venue.id%>
 <%events = @events.where(venue_id: a)%>
  <%events.each do |event|%>
     <%@first_batch.push(event)%>
    <%end%>
    <%end%>

  <!-- venues -->
  <% @south_side_venues.order("name ASC").each do |venue| %>

  <%unless @todays_feature.count== 0%>
<div class ="center" id="featured-dish">
  
  <%=render partial: "shared/featured_dish_table"%>
</div>
<%end%>


  <div style="display:none;">
 <div class="row hourslist">
        <div class="col s12">
          <div class="card beerlist">
            <div class="card-content special-by-day">
              <h4 class="venues"><%= venue.name %></h4>

          <div class="timeforspecial streets">
              <%= truncate(venue.address, length: 40) %><br/>
              <%=Neighborhood.where(id: venue.neighborhood_id).first.name %>
              </div>
            </div>

              <%= link_to 'Show', venue, class: "activator waves-effect waves-light btn openhours", 'data-no-turbolink' => true  %>

            <div class="arrow">
                <%= image_tag "arrow.png"%>
              </div>
          </div>
        </div>
      </div>
  </div>
   <% end %>


<h4 class="flow-text listtitle">Shadyside</h4>
<%@first_batch = []%>
<%@shadyside_venues.each do |venue|%>
 <%a= venue.id%>
 <%events = @events.where(venue_id: a)%>
  <%events.each do |event|%>
     <%@first_batch.push(event)%>
    <%end%>
    <%end%>

  <!-- venues -->
  <% @shadyside_venues.order("name ASC").each do |venue| %>


  <%unless @todays_feature.count== 0%>
<div class ="center" id="featured-dish">

  <%=render partial: "shared/featured_dish_table"%>
</div>
<%end%>


  <div style="display:none">
 <div class="row hourslist">
        <div class="col s12">
          <div class="card beerlist">
            <div class="card-content special-by-day">
              <h4 class="venues"><%= venue.name %></h4>

          <div class="timeforspecial streets">
              <%= truncate(venue.address, length: 40) %><br/>
              <%=Neighborhood.where(id: venue.neighborhood_id).first.name %>
              </div>
            </div>

              <%= link_to 'Show', venue, class: "activator waves-effect waves-light btn openhours", 'data-no-turbolink' => true  %>


            <div class="arrow">
                <%= image_tag "arrow.png"%>
              </div>
          </div>
        </div>
      </div>
  </div>
   <% end %>

<h4 class="flow-text listtitle">Oakland</h4>
 <%@first_batch = []%>
<%@oakland_venues.each do |venue|%>
 <%a= venue.id%>
 <%events = @events.where(venue_id: a)%>
  <%events.each do |event|%>
     <%@first_batch.push(event)%>
    <%end%>
    <%end%>

  <!-- venues -->
  <% @oakland_venues.order("name ASC").each do |venue| %>

  <%unless @todays_feature.count== 0%>
<div class ="center" id="featured-dish">
 
  <%=render partial: "shared/featured_dish_table"%>
</div>
<%end%>

  <div style="display:none;">
 <div class="row hourslist">
        <div class="col s12">
          <div class="card beerlist">
            <div class="card-content special-by-day">
              <h4 class="venues"><%= venue.name %></h4>

          <div class="timeforspecial streets">
              <%= truncate(venue.address, length: 40) %><br/>
              <%=Neighborhood.where(id: venue.neighborhood_id).first.name %>
              </div>
            </div>

              <%= link_to 'Show', venue, class: "activator waves-effect waves-light btn openhours", 'data-no-turbolink' => true  %>

            <div class="arrow">
                <%= image_tag "arrow.png"%>
              </div>
          </div>
        </div>
      </div>
  </div>
   <% end %>

<h4 class="flow-text listtitle">Lawrenceville</h4>
 <%@first_batch = []%>
<%@lawrenceville_venues.each do |venue|%>
 <%a= venue.id%>
 <%events = @events.where(venue_id: a)%>
  <%events.each do |event|%>
     <%@first_batch.push(event)%>
    <%end%>
    <%end%>

  <!-- venues -->
  <% @lawrenceville_venues.order("name ASC").each do |venue| %>
 <div class="row hourslist">
        <div class="col s12">
          <div class="card beerlist">
            <div class="card-content special-by-day">
              <h4 class="venues"><%= venue.name %></h4>

          <div class="timeforspecial streets">
              <%= truncate(venue.address, length: 40) %><br/>
              <%=Neighborhood.where(id: venue.neighborhood_id).first.name %>
              </div>
            </div>

              <%= link_to 'Show', venue, class: "activator waves-effect waves-light btn openhours", 'data-no-turbolink' => true  %>


            <div class="arrow">
                <%= image_tag "arrow.png"%>
              </div>
          </div>
        </div>
      </div>
   <% end %>
</div>

<div id="featured-urbanist" class="center">

   <div class="specials-header urbanist-featured urbanist-header neighborhoodtop">
      <h4 class="flow-text">Featured</h4>
      <div style="display:none;">
        <h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
      </div>
   </div>

  <div class="powered-by">
    <h5><%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
    <%= image_tag "powered-hours.png"%>
  </div>

    <%= render partial: "shared/autocomplete"%>

  <h4 class="flow-text listtitle">Market Square</h4>
  <%@first_batch = []%>
<%@market_square_venues.each do |venue|%>
 <%a= venue.id%>
 <%events = @events.where(venue_id: a)%>
  <%events.each do |event|%>
     <%@first_batch.push(event)%>
    <%end%>
    <%end%>

<%=render partial: "shared/first_batch"%>
 <!-- venues -->
  <% @market_square_venues.order("name ASC").each do |venue| %>

   <% end %>

<h4 class="flow-text listtitle">South Side</h4>
 <%@first_batch = []%>
<%@south_side_venues.each do |venue|%>
 <%a= venue.id%>
 <%events = @events.where(venue_id: a)%>
  <%events.each do |event|%>
     <%@first_batch.push(event)%>
    <%end%>
    <%end%>

<%=render partial: "shared/first_batch"%>
  <!-- venues -->
  <% @south_side_venues.order("name ASC").each do |venue| %>

   <% end %>


<h4 class="flow-text listtitle">Shadyside</h4>
<%@first_batch = []%>
<%@shadyside_venues.each do |venue|%>
 <%a= venue.id%>
 <%events = @events.where(venue_id: a)%>
  <%events.each do |event|%>
     <%@first_batch.push(event)%>
    <%end%>
    <%end%>

<%=render partial: "shared/first_batch"%>
  <!-- venues -->
  <% @shadyside_venues.order("name ASC").each do |venue| %>

   <% end %>

<h4 class="flow-text listtitle">Oakland</h4>
 <%@first_batch = []%>
<%@oakland_venues.each do |venue|%>
 <%a= venue.id%>
 <%events = @events.where(venue_id: a)%>
  <%events.each do |event|%>
     <%@first_batch.push(event)%>
    <%end%>
    <%end%>

<%=render partial: "shared/first_batch"%>
  <!-- venues -->
  <% @oakland_venues.order("name ASC").each do |venue| %>

   <% end %>

<h4 class="flow-text listtitle">Lawrenceville</h4>
 <%@first_batch = []%>
<%@lawrenceville_venues.each do |venue|%>
 <%a= venue.id%>
 <%events = @events.where(venue_id: a)%>
  <%events.each do |event|%>
     <%@first_batch.push(event)%>
    <%end%>
    <%end%>

<%=render partial: "shared/first_batch"%>
  <!-- venues -->
  <% @lawrenceville_venues.order("name ASC").each do |venue| %>

   <% end %>
</div>