
<%if @daily_specials.count > 0 %>
<br/>
<p class ="flow-text center landing-title">Past Featuresd dishes</p>

<ul class="collection with-header">
  
 <%@daily_specials.reverse.each do |event| %>

<div class="row">
  <div class="col s12 m8 offset-m2 featured-dish-section">
    <h5>
    
    </h5>
    <h6><%=event.created_at.strftime("%B #{event.created_at.day.ordinalize}, %Y")%></h6>
      <div class="card">
        <div class="card-image z-depth-2">
          <%= image_tag event.image.url(:medium)%>
        </div>
        <div class="card-content">
          <%=event.text%>
         
          <div>
          <!--Like Button-->
          <%@j = event%>
          <%=render partial: "daily_specials/like_form"%>
          <!--End Of Like Button-->
          </div>
          
         
        </div>
        <div class="card-action">
           <%= event.description%>
           <div class="row">
              <div class="time-and-price">
              <%if event.start != 0%>
                  <div class="timeforspecial">
                  <i class="tiny material-icons">query_builder</i><%= event.time_conversion%>
                  </div>
              <%end%>
              <div class="right-align">
                <%if event.price.length > 0 %>
                  $<%=event.price%>
                <%end%>
              </div>
          </div>
        </div>
          <%if @button == 1 %>
          <div class="double-buttons">
              <div class="row">
                 <div class="col s6">
                  <%= link_to edit_daily_special_path(event), 'data-no-turbolink' => true do%>
                   <!--<i class="material-icons">edit_mode</i>-->
<i class="zmdi zmdi-edit"></i>
                   <%end%>
                </div>
                <div class="col s6">
                  <%= link_to event, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true  do%>
                  <!--<i class="material-icons">delete_forever</i>-->
                  <i class="zmdi zmdi-delete"></i>
                  <%end%>
                </div>
              </div>
           </div>
          <%end%>

      </div>
    </div>
  </div>
</div>



<%end%>
<%if @button == 1 %>
  <div class ="hide">
    <%= link_to 'New Feature', new_daily_special_path, :id => "feat_dish" %>
  </div>
<%end%>
<%end%>

  
