<div class="form-padding">
<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
 <% if current_user.admin?%>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :neighborhood_id %><br>
    <%=collection_select( :venue, :neighborhood_id, Neighborhood.all, :id, :name, {}, { :multiple => false})%>
  </div>
<%end%>
  <div class="field">
    <%= f.label :menu_address %><br>
    <%= f.text_field :menu_address %>
  </div>
<div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
<% if current_user.admin?%>
  <div class="field">
    <%= f.label :owner %><br>
    <%= f.number_field :owner %>
  </div>
<%end%>
  <div class="actions waves-effect waves-light btn">
    <%= f.submit %>
  </div>
<% end %>
</div>