<div class="like-btn">
<div class="like-like">
   <div id = 'venue-like-<%=@venue.id%>'>
      <% if @signed_in == true %>
      <% if @user_likes.include?(@venue) %>
				  <%= render 'downvote'%>
			    <% else %>
				    <%= render 'upvote' %>
			    <% end %>
          <%else%>
             <%=link_to new_user_session_path  do%>
               <i class="zmdi zmdi-favorite-outline"></i>
            <%end%>
          <%end%>
     </div>
</div>

<div class="like-number" id='venue-special<%=@venue.id%>'>
   <%= @venue.get_upvotes.size%>
</div>
</div>
