<ul class="collection z-depth-1">
<% @v = @events.all.where( day: @d)%>
<% if @v.empty?%>
  <li class = "collection-item grey lighten-3"><%= @venue.name%> has no hours on <%=@h%></li>
<%else%>
  <% @v.order(start: :asc, special: :asc).each do |x| %>
  <li class="collection-item grey lighten-3 special-by-day addonpadding">

    <h4>
      <%= x.special %>
       <% @d = x%>
       
          <div class="like-like like-on-profile">
            <div id = 'like-<%=x.id%>'>
              <% if user_signed_in? %>
                <div class="">
                    <% if current_user.voted_as_when_voted_for x %>
                      <%= render partial: 'events/event_downvote'%>
                    <% else %>
                      <%= render partial: 'events/event_upvote' %>
                    <% end %>
                </div>
              <%else%>
                  <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="You need to be signed in to add hours to your profile"><i class="zmdi zmdi-plus-circle-o"></i> </a>
              <%end%>
          </div>
        </div>
</h4>

<% start_minutes = "00"%>
<%if x.start%1 > 0 %>
     <%start_minutes = "30"%>
<%end%>
<%start_am = "am"%>
<%if x.start >9.5 && x.start < 22 %>
     <%start_am = "pm"%>
<%end%>

<% end_minutes = "00"%>
<%if x.end%1 > 0 %>
     <%end_minutes = "30"%>
<%end%>
<%end_am = "am"%>
<%if x.end.to_f >9.5 && x.end < 22 %>
     <%end_am="pm"%>
<%end%>

<!--Convert to regular time-->
<%start_time = 0%>
<%end_time = 0%>
<% if x.start.to_f > 10.5 %>
   <%start_time = (x.start - 0.1).round(0)- 10%>
<%else%>
   <%start_time = (x.start - 0.1).round(0)+ 2%>
<%end%>

 <%if x.end > 22.5 %>
   <%end_time = (x.end - 0.1).round(0)- 22%>
    <% elsif x.end > 10.5 %>
   <%end_time = (x.end - 0.1).round(0)- 10%>
<%else%>
   <%end_time = (x.end - 0.1).round(0)+ 2%>
<%end%>



<div class="valign-wrapper timeforspecial">
<i class="zmdi zmdi-time"></i>
<%=start_time%>:<%=start_minutes%> <%=start_am%> - <%=end_time%>:<%=end_minutes%> <%=end_am%>

 </div>

                        				
<p><span class="submit-by">Submitted by  <%= link_to "#{User.find(x.user_id).fullname}", User.find(x.user_id) %></span></p>
  <%if x.any_details == 2%>
      <p class="deets">
		Details: <%=x.detail%></p><%@event_tag = x%><!--<%= render partial: "shared/tags"%>-->
	  </p>
  <%end%>

  <script>
    if ($('.edit-button-user').hasClass('imhere')) {
    $('.addonpadding').addClass('addedpadding');
      $('.addonpadding').addClass('addedpadding');
    }
  </script>
  
  

<%if @button == 1 %>
 <%@happy_hour = x%>


  <div class="imhere">
  <div style="">
    <%= link_to edit_event_path(@happy_hour) do%>
    <!--<i class="material-icons">edit_mode</i>-->
<i class="zmdi zmdi-edit profile-btn-edit"></i>

  <%end%>
  </div>
    <div style="">
  <%= link_to x, method: :delete, data: { confirm: 'Are you sure?' } do%>
  <!--<i class="material-icons">delete_forever</i>-->
                  <i class="zmdi zmdi-delete profile-btn-edit"></i>
  <%end%>
    </div>
  </div>
<%end%>
<div class="verifyprofile">
<%@event = x%>
<%= render partial: "shared/verify_button_partial"%>
<div class="verified-by-w" id='verify-<%=@event.id%>'>
    <%unless @event.event_verify.nil? || @event.varified_user.nil? %>
	    <p class="teal-text text-accent-4">Verified <%=distance_of_time_in_words(@event.event_verify, Time.now)%> ago by <%=User.find(@event.varified_user).fullname%></p>
	<%end%>
</div>
</div>

<%@modal_event = x%>
<div class="flagprofile">
    
<% if user_signed_in?%>    
<%= render partial: "venues/claim_partial"%>
<%else%>
<div  class = "btn-flat disabled red-text text-accent-4 new_claim signin_flag">
	<%= link_to new_user_session_path, class:"btn-flat disabled red-text text-accent-4 cantsee hide", id: "form-hide#{@event.id}" do%>
			<i class="zmdi zmdi-flag"></i>
	<%end%>
	<a class="tooltipped btn-flat disabled red-text text-accent-4 cantsee"  data-position="bottom" data-delay="50" data-tooltip="You need to be signed in to flag hours"><i class="zmdi zmdi-flag"></i></a>
</div>
<%end%>
</div>
      </li>
       <%end%>
    </ul>
    <%end%>
