<ul class="collection">
       <%if @d != "Saturday" || @d != "Sunday" %>
         <%s = @events.all.where( day: "Weekdays")%>
         <%g = @events.all.where( day: @d)%>
      <% @v = g%>
        <%else%>
       <% @v = @events.all.where( day: @d)%>
       <%end%>
      <% if @v.empty?%>
        <li class = "collection-item grey lighten-3"><%= @venue.name%> has no hours on <%=@d%>
        </li>
      <%else%>
      <% @v.order(:start).each do |x| %>
      <li class="collection-item grey lighten-3 special-by-day">
        
        <h4><%= x.special %></h4>
        


<% start_minutes = "00"%>
<%if x.start%1 > 0 %>
     <%start_minutes = "30"%>
<%end%>
<%start_am = "am"%>
<%if x.start >9.5 && x.start < 22 %>
     <%start_am = "pm"%>
<%end%>

<% end_minutes = "00"%>
<%if x.end%1 > 0 %>
     <%end_minutes = "30"%>
<%end%>
<%end_am = "am"%>
<%if x.end.to_f >9.5 && x.end < 22 %>
     <%end_am="pm"%>
<%end%>

<!--Convert to regular time-->
<%start_time = 0%>
<%end_time = 0%>
<% if x.start.to_f > 10.5 %>
   <%start_time = (x.start - 0.1).round(0)- 10%>
<%else%>
   <%start_time = (x.start - 0.1).round(0)+ 2%>
<%end%>

 <%if x.end > 22.5 %>
   <%end_time = (x.end - 0.1).round(0)- 22%>
    <% elsif x.end > 10.5 %>
   <%end_time = (x.end - 0.1).round(0)- 10%>
<%else%>
   <%end_time = (x.end - 0.1).round(0)+ 2%>
<%end%>

<div class="valign-wrapper timeforspecial">
<i class="tiny material-icons">query_builder</i><%=start_time%>:<%=start_minutes%> <%=start_am%> - <%=end_time%>:<%=end_minutes%> <%=end_am%>
</div>

<%if @button == 1 %>
  <span-right><%= link_to 'Edit', edit_event_path(x) %></span-right>
  <%= link_to 'Delete', x, method: :delete, data: { confirm: 'Are you sure?' } %>
<%end%>

      </li>
       <%end%>
    </ul>
    <%end%>