<div class="row hourslist">
        <div class="col s12">
          <div class="card beerlist">
            <div class="card-content special-by-day">
              <h4 class="venues"><%= @venue.name %></h4>

          <div class="timeforspecial streets">
              <%= truncate(@venue.address, length: 40) %><br/>
              <% @neighborhoods.each do |neighborhood| %>
              <%if neighborhood.id == @venue.neighborhood_id%>
                <%= neighborhood.name%>
               <%end%>
              <%end%>
              
              </div>
            </div>

              <%= link_to 'Show', @venue, class: "activator waves-effect waves-light btn openhours", 'data-no-turbolink' => true  %>


            <div class="arrow">
                <%= image_tag "arrow.png"%>
              </div>
          </div>
        </div>
      </div>