<p id="notice"><%= notice %></p>


<!--<div class="col s3">-->
<!--     <div class="detailstitle">-->
<!--           <h2 class= "flow-text center-align">Venues</h2>-->

<!--     </div>-->
<!--</div>-->

<div class="row" style="margin: 3px 0 0 0;">
    <div class="col s12 profile-tabs venues">
      <ul class="tabs tab-demo" style="width: 100%;">
        <li class="tab Market_Square"><a class="active" href="#Market_Square">Downtown</a></li>
        <li class="tab Southside"><a class="" href="#Southside">South Side</a></li>
        <li class="tab Shadyside"><a class="" href="#Shadyside">Shadyside</a></li>
        <li class="tab Oakland"><a class="" href="#Oakland">Oakland</a></li>
        <li class="tab Lawrenceville"><a class="" href="#Lawrenceville">Lawrenceville</a></li>
        <li class="tab Strip_district"><a class="" href="#Strip_district">Strip District</a></li>
        <li class="tab East_liberty"><a class="" href="#East_liberty">East Liberty</a></li>
        <li class="tab bloomfield_tab"><a class="" href="#bloomfield_tab">Bloomfield</a></li>
      </ul>
    </div>
  </div>

<script>
   $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>

<div id="Market_Square">
     <p class="center-tit"><%= link_to 'See Downtown Hours', downtown_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true %></p>
  <% @venues.where(neighborhood_id: 5).order("name ASC").each do |venue| %>
     <%@venue = venue %>
     <%= render 'venue_index'%>
<% end %>
</div>

<div id="Southside">
  
    <p class="center-tit"><%= link_to 'See South Side Hours', south_side_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true %></p>
<% @venues.where(neighborhood_id: 1).order("name ASC").each do |venue| %>
     <%@venue = venue %>
     <%= render 'venue_index'%>
<% end %>
</div>

<div id="Shadyside">
     <p class="center-tit"><%= link_to 'See Shadyside Hours', shadyside_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true %></p>
 <% @venues.where(neighborhood_id: 2).order("name ASC").each do |venue| %>
     <%@venue = venue %>
     <%= render 'venue_index'%>
<% end %>
</div>


<div id="Oakland">
     <p class="center-tit"><%= link_to 'See Oakland Hours', oakland_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true %></p>
<% @venues.where(neighborhood_id: 3).order("name ASC").each do |venue| %>
     <%@venue = venue %>
     <%= render 'venue_index'%>
<% end %>
</div>

<div id="Lawrenceville">
     <p class="center-tit"><%= link_to 'See Lawrenceville Hours', lawrenceville_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true %></p>
 <% @venues.where(neighborhood_id: 7).order("name ASC").each do |venue| %>
     <%@venue = venue %>
     <%= render 'venue_index'%>
<% end %>
</div>

<div id="Strip_district">
     <p class="center-tit"><%= link_to 'See Strip District Hours', strip_district_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true %></p>
 <% @venues.where(neighborhood_id: 11).order("name ASC").each do |venue| %>
     <%@venue = venue %>
     <%= render 'venue_index'%>
<% end %>
</div>

    <div id="East_liberty">
     <p class="center-tit"><%= link_to 'See East Liberty Hours', east_liberty_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true %></p>
     <% @venues.where(neighborhood_id: 9).order("name ASC").each do |venue| %>
         <%@venue = venue %>
         <%= render 'venue_index'%>
    <% end %>
    </div>
    
     <div id="bloomfield_tab">
     <p class="center-tit"><%= link_to 'See Bloomfield Hours', bloomfield_path, class:"btn-flat disabled teal-text text-accent-4", 'data-no-turbolink' => true %></p>
     <% @venues.where(neighborhood_id: 6).order("name ASC").each do |venue| %>
         <%@venue = venue %>
         <%= render 'venue_index'%>
    <% end %>
    </div>


