<p id="notice"><%= notice %></p>


<div class="col s3">
     <div class="detailstitle">
           <h2 class= "flow-text center-align">Venues</h2>
     </div>
</div>
<br>
<!--<h3 class = "flow-text center-align">Market Square</h3>


  <% @venues.where(neighborhood_id: 4).each do |venue| %>
 <div class="row hourslist">
        <div class="col s12">
          <div class="card beerlist">
            <div class="card-content special-by-day">
              <h4 class="venues"><%= venue.name %></h4>

          <div class="timeforspecial streets">
              <%= venue.address %><br/>
              <%=Neighborhood.where(id: venue.neighborhood_id).first.name %>
              </div>
            </div>

              <%= link_to 'Show', venue, class: "activator waves-effect waves-light btn openhours", 'data-no-turbolink' => true  %>


            <div class="arrow">
                <%= image_tag "arrow.png"%>
              </div>
          </div>
        </div>
      </div>
   <% end %>
<br>-->

<h3 class = "flow-text center-align">South Side</h3>


  <% @venues.where(neighborhood_id: 1).each do |venue| %>
 <div class="row hourslist">
        <div class="col s12">
          <div class="card beerlist">
            <div class="card-content special-by-day">
              <h4 class="venues"><%= venue.name %></h4>

          <div class="timeforspecial streets">
              <%= venue.address %><br/>
              <%=Neighborhood.where(id: venue.neighborhood_id).first.name %>
              </div>
            </div>

              <%= link_to 'Show', venue, class: "activator waves-effect waves-light btn openhours", 'data-no-turbolink' => true  %>


            <div class="arrow">
                <%= image_tag "arrow.png"%>
              </div>
          </div>
        </div>
      </div>
   <% end %>
<br>
<h3 class = "flow-text center-align">Shadyside</h3>
 <% @venues.where(neighborhood_id: 2).each do |venue| %>
 <div class="row hourslist">
        <div class="col s12">
          <div class="card beerlist">
            <div class="card-content special-by-day">
              <h4 class="venues"><%= venue.name %></h4>

          <div class="timeforspecial streets">
              <%= venue.address %><br/>
              <%=Neighborhood.where(id: venue.neighborhood_id).first.name %>
              </div>
            </div>

              <%= link_to 'Show', venue, class: "activator waves-effect waves-light btn openhours", 'data-no-turbolink' => true  %>


            <div class="arrow">
                <%= image_tag "arrow.png"%>
              </div>
          </div>
        </div>
      </div>
   <% end %>
<br>
<h3 class = "flow-text center-align">Oakland</h3>
 <% @venues.where(neighborhood_id: 3).each do |venue| %>
 <div class="row hourslist">
        <div class="col s12">
          <div class="card beerlist">
            <div class="card-content special-by-day">
              <h4 class="venues"><%= venue.name %></h4>

          <div class="timeforspecial streets">
              <%= venue.address %><br/>
              <%=Neighborhood.where(id: venue.neighborhood_id).first.name %>
              </div>
            </div>

              <%= link_to 'Show', venue, class: "activator waves-effect waves-light btn openhours", 'data-no-turbolink' => true  %>


            <div class="arrow">
                <%= image_tag "arrow.png"%>
              </div>
          </div>
        </div>
      </div>
   <% end %>

