
<p id="notice"><%= notice %></p>


<div class="col s3">
     <div class="detailstitle">
           <h2 class= "flow-text center-align"></h2>Venues</h2>
     </div>
</div>


           <div class = "center"><h2 class= "flow-text center-align"></h2> You're Welcome Kass!</h2></div>


 <% @venues.each do |venue| %>
 <div class="row hourslist">
        <div class="col s12">
          <div class="card beerlist">
            <div class="card-content special-by-day">
              <h4 class="venues"><%= venue.name %></h4>

          <div class="timeforspecial streets">
              <%= venue.address %><br/>
              <%=Neighborhood.where(id: venue.neighborhood_id).first.name %><br>
              Average Time Since Verified: <%=venue.avg_verify%> days 
              </div>
            </div>

              <%= link_to 'Show', venue, class: "activator waves-effect waves-light btn openhours", 'data-no-turbolink' => true  %>


            <div class="arrow">
                <%= image_tag "arrow.png"%>
              </div>
          </div>
        </div>
      </div>
   <% end %>

