<%= form_for(@daily_special) do |f| %>
  <% if @daily_special.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_special.errors.count, "error") %> prohibited this daily_special from being saved:</h2>

      <ul>
      <% @daily_special.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%if current_user.admin?%>
    <%= f.label :venue_id %><br>
     <%=collection_select( :daily_special, :venue_id, Venue.where(owner: current_user.id), :id, :name, { :multiple => false})%>
    <%else%>
     <%=collection_select( :daily_special, :venue_id, Venue.where(owner: current_user.id), :id, :name, { :multiple => false})%>
    <%end%>
  </div>
  <div class="field">
    <%= f.label :dish_type %><br>
    <%= f.text_field :dish_type %>
  </div>
  <div class="row">
  <div class="field">
    <%= f.label :day %><br>
    <%= f.select :day, [['Monday', 'Monday'],['Tuesday','Tuesday'],['Wednesday', 'Wednesday'],['Thursday','Thursday'],['Friday','Friday'],['Saturday','Saturday'],['Sunday','Sunday'], ['Weekdays','Weekdays']]  %>
  </div>
   <div class="row">
    <div class="field col s6 m6">
    <%= f.label :start %><br>
    <%= f.select :start, [['10:00 am', '8'],['10:30 am', '8.5'],['11:00 am', '9'],['11:30 am', '9.5'],['12:00 pm', '10'],['12:30 pm', '10.5'],['1:00 pm', '11'],['1:30 pm', '11.5'],['2:00 pm', '12'],['2:30 pm', '12.5'],['3:00 pm', '13'],['3:30 pm', '13.5'],['4:00 pm','14'],['4:30 pm','14.5'],['5:00 pm', '15'],['5:30 pm', '15.5'],['6:00 pm','16'],['6:30 pm','16.5'],['7:00 pm','17'],['7:30 pm','17.5'],['8:00 pm','18'],['8:30 pm','18.5'],['9:00 pm','19'],['9:30 pm','19.5'],['10:00 pm','20'],['10:30 pm','20.5'],['11:00 pm','21'],['11:30 pm','21.5'],['12:00 pm','22']]%>
    </div>
    <div class="field col s6 m6">
    <%= f.label :end %><br>
    <%= f.select :end, [['1:00 pm', '11'],['1:30 pm', '11.5'],['2:00 pm', '12'],['2:30 pm', '12.5'],['3:00 pm', '13'],['3:30 pm', '13.5'],['4:00 pm','14'],['4:30 pm','14.5'],['5:00 pm', '15'],['5:30 pm', '15.5'],['6:00 pm','16'],['6:30 pm','16.5'],['7:00 pm','17'],['7:30 pm','17.5'],['8:00 pm','18'],['8:30 pm','18.5'],['9:00 pm','19'],['9:30 pm','19.5'],['10:00 pm','20'],['10:30 pm','20.5'],['11:00 pm','21'],['11:30 pm','21.5'],['12:00 am','22'],['12:30 am','22.5'],['1:00 am','23'],['1:30 am','23.5'],['2:00 am','24']]%>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
