<div class = "right">
            <div class = "valign-wrapper">
              <div id='special<%=@j.id%>'>
                <%= @j.get_likes.size%>
              </div>
              <div id = 'like-<%=@j.id%>'>
            <% if user_signed_in? %>
                <% if current_user.voted_as_when_voted_for @j %>
				          <%= render 'daily_specials/downvote'%>
			          <% else %>
				          <%= render 'daily_specials/upvote' %>
			          <% end %>
             <%else%>
                <%= link_to "Like", new_user_session_path%>
                <%end%>
                </div>
              </div>
            </div>