<div class="specials-header features-header neighborhoodtop">

<h4 class="flow-text">Featured Dishes</h4>
<!--<h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>-->
</div>


<h5 class="flow-text; center hide"><%= @day_tag %><%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
<br>

<div id = 'specials'><%= render 'list'%></div>