<% content_for :head do%>
<meta property="fb:app_id" content="617946341715685" />
<meta property="og:site_name" content="HoursPGH" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%=Time.now.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{Time.now.in_time_zone("Eastern Time (US & Canada)").day.ordinalize}, %Y")%> <%=@topic%>" />
<meta property="og:description" content="<%=@topic_description%>" />
<meta property="og:image" content="<%=@page_image%>" />
<%end%>

<div class="specials-header features-header neighborhoodtop">

<h4 class="flow-text">Features</h4>
<!--<h5 class="flow-text">Hours for <%= @day_tag %>, <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>-->
</div>


<h5 class="flow-text; center hide"><%= @day_tag %><%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %></h5>
<br>

<div id = 'specials'><%= render 'list'%></div>
<div class = "center"><%= link_to 'Past Features', past_features_path, class:"btn-flat disabled teal-text text-accent-4" %></div>
<br><br/>