
<br/>
<h3 class ="flow-text center landing-title">Past Features</h3>
<h5 class ="flow-text center hide"><%=(Time.now - 7.days).in_time_zone("Eastern Time (US & Canada)").strftime("%B #{(Time.now - 7.days).in_time_zone("Eastern Time (US & Canada)").day.ordinalize}")%> - <%=(Time.now).in_time_zone("Eastern Time (US & Canada)").strftime("%B #{(Time.now).in_time_zone("Eastern Time (US & Canada)").day.ordinalize}")%></h5>
<div class ="center" id="specials">
<%= render partial: "shared/past_featured_tags"%>
<h3><%= @topic%></h3>
</div>

<%@daily_specials.order("created_at DESC").each do |event| %>
    <%@j=event%>
    <div class="row">
        <div class="col s12 m8 offset-m2 featured-dish-section">
            <h5><%=link_to "#{Venue.where(id: event.venue_id).first.name}", venue_path(Venue.where(id: event.venue_id).first), class: "teal-text text-accent-4",'data-no-turbolink' => true %></h5>
            <h6><%=event.created_at.strftime("%B #{event.created_at.day.ordinalize}, %Y")%> | <%=event.special_neighborhood%></h6>
            <div class="card">
                <div class="card-image z-depth-2">
                    <%= image_tag event.image.url(:medium)%>
                </div>
                <div class="card-content">
                    <%=event.text%>
                    <!--Like Button-->
                    <div class="like-btn">
                        <%@j = event%>
                        <div class="like-like">
                            <div id='like-<%=event.id%>'>
                                <%if user_signed_in? %><%if current_user.voted_as_when_voted_for event %><%= render 'downvote'%><%else %><%= render 'upvote' %><%end %><%else%><%= link_to "Like", new_user_session_path%><%end%>
                            </div>
                        </div>
                        <div class="like-number" id= 'special<%=event.id%>'>
                            <%= event.credit + event.get_likes.size%>
                        </div>
                    </div><!--End Of Like Button-->
                </div>
                <div class="card-action">
                    <%= event.description %>
                    <div>
                        <div class="row">
                            <div class="time-and-price">
                                 <%if event.start != 0%>
                                <div class="timeforspecial">
                                    <i class="zmdi zmdi-time"></i>
<%= event.time_conversion%>
                                </div>
                                 <%end%>
                                <div class="right-align">
                                  <%if event.price.length > 0 %>
                                    $<%=event.price%>
                                  <%end%>
                                </div>
                            </div>
                            <div class="featured-tags">
                              <%= raw event.tag_list.map { |t| link_to t, tag_path(t), class:"disabled teal-text text-accent-4" }.join(' | ')%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%end%>

