<div class="under-con">


  <div class="main-con-header" style="height: auto;
    position: relative;
    margin-bottom: 55px;
    background-color: #000;
    padding: 37px;">
  <div class="container">
    <div class="row">
      <div class="col m7 s12">
        <h2 style="margin-top: 0;">HoursPGH Support</h2>
        <p>Learn More about how to use HoursPGH or drop us a line.</p>
        <a href="#" id="learnmorecon">Learn More</a>
      </div>
      <div class="col m5 s12">
       
            <form action="mailto:hourspgh@gmail.com" method="post" class="support-form" enctype="text/plain">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="name" id="first_name" class="validate" style="color:#fff;">
          <label for="first_name">Name</label>
        </div>
        
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="question" type="text" name="mail" class="validate" style="color:#fff;" >
          <label for="question">Question</label>
        </div>
      </div>
      <input type="submit" value="Send" style="color: #fff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 14px 20px;
    border: 1px solid #fff;
    border-radius: 3px;
    display: table;
    background-color: #000;
    margin-bottom: 30px;
    text-align: center;
    margin: 0 auto 30px auto;">
    </form>
      </div>
    </div>
    </div>
  </div>

  <div id="learnmoreto"></div>

 <div class="container con-content" style="clear:both;" >




 <div class="row con-neighb" >
      <h4 class="con-content-title">Neighborhoods</h4>
   <p class="con-content-p">Find happy hours and featured dishes in the neighborhoods below and many more.</p>

     <div class="col m3 s6" id="dtn">
       <h6>Downtown</h6>
     </div>
     <div class="col m3 s6" id="oak">
       <h6>Oakland</h6>
     </div>
     <div class="col m3 s6" id="shady">
       <h6>Shadyside</h6>
     </div>
     <div class="col m3 s6" id="lawr">
       <h6>Lawrenceville</h6>
     </div>

   <div class="col m3 s6" id="ss">
       <h6>South Side</h6>
     </div>
     <div class="col m3 s6" id="stpd">
       <h6>Strip District</h6>
     </div>
     <div class="col m3 s6" id="eastlib">
       <h6>East Liberty</h6>
     </div>
     <div class="col m3 s6" id="mountw">
       <h6>Mount Washington</h6>
     </div>
    </div>
</div>

   <div class="container con-content2" style="clear:both;">

      <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active"  href="#test1">Guests</a></li>
        <li class="tab col s6"><a href="#test2" id="testopen">Restraunts</a></li>

      </ul>
    </div>
  </div>


 <div class="row con-neighb">


   <div id="test1">
     <h4 class="con-content-title" style="padding-top: 65px;">As a guest...</h4>
   <p class="con-content-p">Easily scroll through the current days specials, or featured dishes. Look at particular venue's profile to view their weekly specials and details. Also save the specials you like to your profile, and you will later be reminded of them!</p>

<!--      <div class="col m4 s12">
       <h6>Weekly Specials</h6>
         <%= image_tag "screen1.jpg"%>

    </div>

   <div class="col m4 s12">
     <h6>Featured Dishes</h6>
         <%= image_tag "screen2.jpg"%>

    </div>

   <div class="col m4 s12">
      <h6>Venue Details</h6>
         <%= image_tag "screen3.jpg"%>

    </div> -->


     <div class="carousel">
    <a class="carousel-item" href="#one!"><h6>Weekly Specials</h6><%= image_tag "screen1.jpg"%>
      <p>Browse current days specials happening, in the nieghbood of your choosing.</p>
     </a>
    <a class="carousel-item" href="#two!"> <h6>Featured Dishes</h6><%= image_tag "screen2.jpg"%>
       <p>Check out the featured dishes that are being served that day.</p>
       </a>
    <a class="carousel-item" href="#three!"><h6>Venue Details</h6><%= image_tag "screen3.jpg"%>
       <p>Veiw a particular restaraunt's specials for the whole week.</p>
       </a>
       <a class="carousel-item" href="#four!"><h6>Save by Liking</h6><%= image_tag "userprofilesaveHour2.jpg"%>
       <p>Save your favorite specials to your profile by liking them.</p>
       </a>
    <a class="carousel-item" href="#five!"><h6>Saved Hours</h6><%= image_tag "userprofilepage.jpg"%>
       <p>On your profile screen you can veiw saved hours, also be reminded of these hours.</p>
       </a>
  </div>


     </div>

   <!--END Test1-->

   <div id="test2">
          <h4 class="con-content-title" style="padding-top: 65px;">As a restaurant owner...</h4>

   <p class="con-content-p">Easily keep your happy hours and featured dishes up to date for the world to see. Simply log into your restraunts profile and start adding!</p>

     <div class="col m4 s12">
       <h6>Profile Page</h6>
       <%= image_tag "restrUser2_v2.jpg"%>
<p>The restaraunt profile page allows the user to easily keep their restaraunt's hours and featured dishes up to date.</p>

    </div>

   <div class="col m4 s12">
     <h6>User Options</h6>

 <%= image_tag "restrUser3.jpg"%>
     <p>Either edit your venue, add a new hour or feature, and verify your venue to let users know you info is fresh.</p>
    </div>

   <div class="col m4 s12">
      <h6>Add a Special</h6>
        <%= image_tag "restrUser1.jpg"%>
      <p>Editing and adding specials is easy with a quick form and submit.</p>
    </div>

<!-- <div class="carousel num2">
    <a class="carousel-item" href="#one!"><h6>Weekly Specials</h6><%= image_tag "restrUser2_v2.jpg"%></a>
    <a class="carousel-item" href="#two!"> <h6>Featured Dishes</h6> <%= image_tag "restrUser3.jpg"%></a>
    <a class="carousel-item" href="#three!"><h6>Venue Details</h6><%= image_tag "restrUser1.jpg"%></a>
  </div>
</div> -->

   <!--EndTest2-->

     </div>
    </div>
 </div>


<script>

  $("#learnmorecon").click(function() {
    $('html,body').animate({
        scrollTop: $("#learnmoreto").offset().top},
        'slow');
});



   $(document).ready(function(){
      $('.carousel').carousel();
    });




</script>
