
<div class="specials-header login-bg neighborhoodtop">
<h1 class= "flow-text center-align login-top"><b>Login</b> To Like Hours and Save Them To <b>Your Profile!</b> </h1>
</div>



<div class="row">
        <div class="col s12">
          <div class = "">
          <div class="">

            
<div class="form-padding">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


  <div class="field"><br />
    <%= f.label 'Email' %>
    <%= f.email_field :email, autofocus: true, :placeholder => "Email", :class => 'form-control' %>
  </div>

  <div class="field"><br />
   <%= f.label 'Password' %>
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class => 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
          <%= render "devise/shared/links" %>
    </div>
  <% end -%>

  <div class="actions login-btn; center">
    <%= f.submit "Log in",  class:"btn white-text text-accent-4"%>
  </div>
<% end %>
  <div class = "center hide"><%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class:"btn-flat disabled red-text text-darken-2"%></div>
 
  
              
  
  
  
  
<br>
<div>
  <div class="center">Not a member? <%= link_to "Sign up", new_registration_path(resource_name) %></div>
    <div class="center">
      
    </div>
  </div>
</div>



</div>
</div>
</div>
</div>
