<h1>Index</h1>


<h1>Welcome!</h1>

<%= form_tag(beers_path, :method => "get", id: "search-form") do %>
<!-- text field tag=action,args,identifier,placeholdertext... -->
<%= text_field_tag :search, params[:search], class: "search-query", placeholder: "namesearch", type: "search", data: {autocomplete: beers_autocomplete_beer_name_path} %>
<%= submit_tag "Search" %>
<%end%>
<script type="text/javascript" charset="utf-8">
  $('#search').bind('railsAutocomplete.select', function(event, data){
  $('#search-form').submit()
  });
</script>
<div id = 'beerlist'><%= render 'list'%></div>
<%= link_to 'New Drink', new_beer_path, class: "waves-effect waves-light btn newvenue menubtn" %>


