<p id="notice"><%= notice %></p>
<%if @button == 1%>
<%= link_to 'New Beer', new_beer_path,class: "waves-effect waves-light btn" %>
<h4 class ="flow-text">Current Beers</h4>
<ul class="collapsible" data-collapsible="accordion">
          <% @beers.where(beer_status: 1).each do |beer| %>
            <li>
              <div class="collapsible-header drinks">
                <h4> <%= beer.name %></h4>
                <span class = "right beer-price">$<%= beer.price %></span>
              </div>
              <div class="collapsible-body">
                <%=link_to add_to_reserve_beer_path(beer), method: :patch do%>remove
                <%end%>
                <p class = "flow-text"><%= beer.brewery %><br/>(<%= beer.genre%>)<br/><br/><%= beer.details %></p></div>
            </li>
           <%end%>
          </ul>


<br>




<h4 class ="flow-text">Reserve List</h4>
<ul class="collapsible" data-collapsible="accordion">
          <% @beers.where(beer_status: 2).each do |beer| %>
            <li>
              <div class="collapsible-header drinks">
                <h4> <%= beer.name %></h4>
                <h6><%= beer.abv %>% ABV</h6>
                <span class = "right beer-price">$<%= beer.price %></span>
              </div>
              <div class="collapsible-body">
                <%=link_to add_to_current_beer_path(beer), method: :patch do %>Add To Current
                <%end%>
                <%= link_to 'Edit', edit_beer_path(beer) %>
                <%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
                <p class = "flow-text"><%= beer.brewery %><br/>(<%= beer.genre%>)<br/><br/><%= beer.details %></p></div>
            </li>
           <%end%>
          </ul>
<%elsif @button == 0%>
<%= link_to 'New Beer', new_beer_path,class: "waves-effect waves-light btn"%>
<h4 class ="flow-text">Current Beers</h4>
<ul class="collapsible" data-collapsible="accordion">
          <% @beers.where(beer_status: 1).each do |beer| %>
            <li>
              <div class="collapsible-header drinks">
                <h4> <%= beer.name %></h4>
                <h6><%= beer.abv %>% ABV</h6>
                <span class = "right beer-price">$<%= beer.price %></span>
              </div>
              <div class="collapsible-body">
               <%=link_to add_to_reserve_beer_path(beer), method: :patch do%>
               remove
               <%end%><br/>
                <p class = "flow-text"><%= beer.brewery %><br/>(<%= beer.genre%>)<br/><br/><%= beer.details %></p></div>
            </li>
           <%end%>
          </ul>


<br>



<h4 class ="flow-text">Reserve List</h4>
<ul class="collapsible" data-collapsible="accordion">
          <% @beers.where(beer_status: 2).each do |beer| %>
            <li>
              <div class="collapsible-header drinks">
                <h4> <%= beer.name %></h4>
                <h6><%= beer.abv %>% ABV</h6>
                <span class = "right beer-price">$<%= beer.price %></span>
              </div>
              <div class="collapsible-body">
                <%=link_to add_to_current_beer_path(beer), method: :patch do %>Add
                <%end%>
                <%= link_to 'Edit', edit_beer_path(beer) %>
                <%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
                <p class = "flow-text"><%= beer.brewery %><br/>(<%= beer.genre%>)<br/><br/><%= beer.details %></p></div>
            </li>
           <%end%>
          </ul>
<%end%>


