<p id="notice"><%= notice %></p>

<h1>Current Beers</h1>

<table>
  <thead>
    <tr>
      <th class = "flow-text">Name</th>
      <th class = "flow-text">Brewery</th>
      <th class = "flow-text">Abv</th>
      <th class = "flow-text">Genre</th>
      <th class = "flow-text">Price</th>
      <th class = "flow-text">Serving</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.where(beer_status: 1).each do |beer| %>
      <tr>
        <td class = "flow-text"><%= beer.name %></td>
        <td class = "flow-text"><%= beer.brewery %></td>
        <td class = "flow-text"><%= beer.abv %></td>
        <td class = "flow-text"><%= beer.genre %></td>
        <td class = "flow-text"><%= beer.price %></td>
        <td class = "flow-text"><%= beer.serving %></td>
        <td class = "flow-text"><%=link_to add_to_reserve_beer_path(beer), :class => "btn btn-small", method: :patch do%></td>Add To Reserve
        <%end%>
        <td class = "flow-text"><%= link_to 'Edit', edit_beer_path(beer) %></td>
        <td class = "flow-text"><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beer', new_beer_path %>




<h1>Reserve List</h1>

<table>
  <thead>
    <tr>
      <th class = "flow-text">Name</th>
      <th class = "flow-text">Brewery</th>
      <th class = "flow-text">Abv</th>
      <th class = "flow-text">Genre</th>
      <th class = "flow-text">Price</th>
      <th class = "flow-text">Serving</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.where(beer_status: 2).each do |beer| %>
      <tr>
        <td class = "flow-text"><%= beer.name %></td>
        <td class = "flow-text"><%= beer.brewery %></td>
        <td class = "flow-text"><%= beer.abv %></td>
        <td class = "flow-text"><%= beer.genre %></td>
        <td class = "flow-text"><%= beer.price %></td>
        <td class = "flow-text"><%= beer.serving %></td>
         <td class = "flow-text"><%=link_to add_to_current_beer_path(beer), :class => "btn btn-small", method: :patch do %></td>Add To Current
        <%end%>

        <td class = "flow-text"><%= link_to 'Edit', edit_beer_path(beer) %></td>
        <td class = "flow-text"><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

