<!--
<%= link_to "My Venues", users_venues_path, class: "waves-effect waves-light btn newvenue menubtn"%>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.order("venue_id ASC").each do |beer| %>
      <tr>
        <td><%= beer.name %></td>
        <td><%= Venue.where(id: beer.venue_id).first.name%></td>
        <td><%= beer.beer_level %></td>
        <td><%= beer.beer_status%></td>
        <!--<td><%=link_to beer_level_low_beer_path(beer), method: :patch do%>
                <i class="material-icons">add</i>
                <%end%>
        </td>
        <td><%=link_to beer_level_full_beer_path(beer), method: :patch do%>
                <i class="material-icons">remove</i>
                <%end%>
        </td>-->
       <!-- <td><%= link_to add_to_current_beer_path(beer),  method: :patch do%>
                <i class="material-icons">add</i>
                <%end%>
        </td>
        <td><%= link_to add_to_reserve_beer_path(beer),  method: :patch do%>
                <i class="material-icons">remove</i>
                <%end%>
        </td>
        <td><%= link_to 'Show', beer %></td>
        <td><%= link_to 'Edit', edit_beer_path(beer) %></td>
        <td><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
-->

<p id="notice"><%= notice %></p>
<div class="newbeerbtn">
<%= link_to 'New Beer ', new_beer_path,class: "waves-effect waves-light btn" %>

</div>
<h4 class ="flow-text listtitle">Current Beer List</h4>
<ul class="collapsible" data-collapsible="accordion">
           <% @beers.where(beer_status: 2).order("brewery ASC").each do |beer| %>
           <% @brew_count = 0%>
           <% if beer.beer_level == 1 %>
               <%beer_level = "Full"%>
            <%else%>
               <%beer_level = "Low"%>
            <%end%>

            <div class="icon-remove-add">
            <%=link_to add_to_reserve_beer_path(beer), method: :patch do%>
                <i class="material-icons">remove</i>
                <%end%>
            </div>
           <li>
              <div class="collapsible-header drinks">
                <div class = "row brews-list">
                <h4> <%= beer.name %> (<%= beer.brewery %>)</h4>




                </div>
                <span class = "right beer-price"> $<%= beer.price %></span>
              </div>
              <div class="collapsible-body">
               <%= link_to '| Edit |', edit_beer_path(beer) %>  <%= link_to '| Delete |', beer, method: :delete, data: { confirm: 'Are you sure?' } %><%=link_to beer_level_low_beer_path(beer), method: :patch do%>
                | Limited |
                <%end%>
                <%=link_to beer_level_full_beer_path(beer), method: :patch do%>
                | Full |
                <%end%>
                <p class = "flow-text"><%= beer.abv %> ABV / <%= beer.genre %> <br> <%= beer.serving %> / <%= beer.serving_size %> oz. <br>
                  Beer Level: <%=beer_level%>
                  <br/><%= beer.details %></p></div>
               <% @brew_count +=1 %>
            </li>

           <%end%>
            <%if @brew_count == 0%>
           <li>You Have No Beers</li>
           <%end%>
</ul>


<br>





<h4 class ="flow-text listtitle">Reserve Beer List</h4>
<ul class="collapsible" data-collapsible="accordion">
           <% @beers.where(beer_status: 1).each do |beer| %>
           <% @brew_count = 0%>

            <div class="icon-remove-add">
             <%=link_to add_to_current_beer_path(beer), method: :patch do%>
                <i class="material-icons">add</i>
                <%end%>
             </div>

            <li>
              <div class="collapsible-header drinks">
                <div class = "row brews-list">
                <h4> <%= beer.name %> (<%= beer.brewery %>)</h4>


                </div>
                <span class = "right beer-price">$<%= beer.price %></span>
              </div>
              <div class="collapsible-body">
                 <%= link_to 'Edit', edit_beer_path(beer) %>  <%= link_to 'Delete', beer, method: :delete, data: { confirm: 'Are you sure?' } %>
                <p class = "flow-text"><%= beer.brewery %><br/>(<%= beer.serving %>)<br/><br/><%= beer.details %></p></div>
               <% @brew_count +=1 %>
            </li>

           <%end%>
            <%if @brew_count == 0%>
           <li>You Have No Brews</li>
           <%end%>
</ul>

<div class="newbeerbtn">
<%= link_to ' Back To Venue ',  Venue.where(owner: current_user.id).first,class: "waves-effect waves-light btn", 'data-no-turbolink' => true %>

</div>
