<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body class="mailpiece">

    <div class="mailheader">
      <div class="mailheader-header">
      <img src="http://i.imgur.com/sMcqJ6D.png" class="mailheader-logo"/>
      </div>
      <div class="mailheader-content">
    <h1>Hi <%= @user.fullname %>! We just wanted to remind you of the Hours you saved that are happening today. Get out there and bring a friend!</h1> 

    <%x=[]%>
<%liked_events = @user.get_up_voted Event.where(day: @day_specials)%>
<%liked_events.shuffle.each do |event| %>
 <%x.push(Venue.where(id: event.venue_id).first.id)%>
<%end%>



<%x.uniq.each do |d|%>
  <%@e = liked_events.where(venue_id: d).order(:start).reverse%>
  <span class="card-title activator"><%= Neighborhood.find(Venue.where( id: @e[0].venue_id).first.neighborhood_id).name%></span>
  <h4><%= Venue.where( id: @e[0].venue_id).first.name%></h4>
  <ul class="collection">
    <% @e.each do |x| %>

      <li class="collection-item grey lighten-3 special-by-day">

          <p class="detailonshow mailtit" style="font-weight:bold;"><%= x.special %></p>
        <p class="detailonshow maildet"><%=x.detail%></p>

        <div class="valign-wrapper timeforspecial">
        <%= x.time_conversion %>
        </div>
      </li>

    <%end%>
    </ul>
<%end%>
      </div>
 </div>
  </body>
</html>