<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body class="mailpiece">

    <div class="mailheader">
      <div class="mailheader-header">
      <img src="http://i.imgur.com/sMcqJ6D.png" class="mailheader-logo"/>
      </div>
      <div class="mailheader-content">
    <h1>Hi <%= @user.fullname %> here are the Happy Hours today you wanted to be reminded of. Get out there and meet somebody</h1>

    <%x=[]%>
<%liked_events = @user.get_up_voted Event%>
<%liked_events.shuffle.each do |event| %>
 <%x.push(Venue.where(id: event.venue_id).first.id)%>
<%end%>



<%x.uniq.each do |d|%>
  <%@e = liked_events.where(venue_id: d).order(:start).reverse%>
  <span class="card-title activator"><%= Venue.where( id: @e[0].venue_id).first.name%></span>
  <ul class="collection">
    <% @e.each do |x| %>

      <li class="collection-item grey lighten-3 special-by-day">
        <h4>
          <%= x.special %>
        </h4>
      </li>

      <li class="collection-item grey lighten-3 special-by-day">
        <h4>
         <%=x.detail%>
        </h4>
      </li>

      <li class="collection-item grey lighten-3 special-by-day">
        <h4>
        <%= x.time_conversion %>
        </h4>
      </li>
    <%end%>
    </ul>
<%end%>
      </div>
 </div>
    
    

    <div class="mailheader">
      <div class="mailheader-header">
      <img src="http://i.imgur.com/sMcqJ6D.png" class="mailheader-logo">
      </div>
      <div class="mailheader-content">
    <h1>Hi <%= @user.fullname %> here are the Happy Hours today you wanted to be reminded of. Get out there and meet somebody</h1>

    <%x=[]%>
<%liked_events = @user.get_up_voted Event%>
<%liked_events.shuffle.each do |event| %>
 <%x.push(Venue.where(id: event.venue_id).first.id)%>
<%end%>



<%x.uniq.each do |d|%>
  <%@e = liked_events.where(venue_id: d).order(:start).reverse%>
  <span class="card-title activator"><%= Venue.where( id: @e[0].venue_id).first.name%></span>
  <ul class="collection">
    <% @e.each do |x| %>

      <li class="collection-item grey lighten-3 special-by-day">
        <h4>
          <%= x.special %>
        </h4>
      </li>

      <li class="collection-item grey lighten-3 special-by-day">
        <h4>
         <%=x.detail%>
        </h4>
      </li>

      <li class="collection-item grey lighten-3 special-by-day">
        <h4>
        <%= x.time_conversion %>
        </h4>
      </li>
    <%end%>
    </ul>
<%end%>
      </div>
 </div>
  
  </body>
</html>