<%= form_for([@event, @event.reviews.new]) do |f|%>

    <%= f.text_field :star %>
    <%= f.text_field :comment%>
    
    <%= f.hidden_field :event_id, value: @event.id%> 
    
    <div class = "action">
        <%= f.submit%> 
    </div>
    
<%end%>