<!DOCTYPE html>
<html>
<head>
  <title>HoursPGH</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <script src="//load.sumome.com/" data-sumo-site-id="33b3c952f7e3243fe90e7f68df49961a016a5ca309bebb539f19953284aa1713" async="async"></script>
<meta property="fb:app_id" content="617946341715685" />
<meta property="og:url" content="http://www.hourspgh.com"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
   <link rel="stylesheet" href = "https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <script src="https://use.typekit.net/juu2xhe.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>



  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<%= yield :head%>

</head>
<body>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '617946341715685',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>




<%= render partial: "shared/header"%>
<%= render partial: "shared/message"%>


<main>
<div class = "container">
<%= yield %>
</div>
</main>

<%= render partial: "shared/footer"%>



<script>
$(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
$(document).ready(function() {
    $('select').material_select();
    $(".dropdown-button").dropdown();
});
 $(".button-collapse").sideNav();
</script>


</body>
</html>