<!DOCTYPE html>
<html>
<head>
  <title>Pittsburgh's Best Happy Hour App</title>
  <meta name="Description" content="HoursPGH is a real-time app for happy hours and Specials at bars and restaurants throughout Pittsburgh.  HoursPGH covers happy hours in Downtown, Shadyside, South Side, Oakland, Mt. Washington, Lawrenceville, Bloomfield, East Liberty, Strip District in real-time. HoursPGH also has daily specials, entertainment, live music, karaoke and trivia. ">
  <meta name="Keywords" content="Happy Hours, Trivia, Daily Specials, Live Music, Entertainment, Pittsburgh, Downtown, Shadyside, South Side, Oakland, Mt. Washington, Lawrenceville, Bloomfield, East Liberty, Strip District, Bars, Restaurant">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  
  <!--NEW ONE-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <%= favicon_link_tag 'favicon.png' %>
  <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
 <meta property="fb:app_id" content="617946341715685" />
 <meta property="og:url" content="http://www.hourspgh.com/<%=@page_url%>"/>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <script src="https://use.typekit.net/juu2xhe.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0065/7359.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<%= yield :head%>

</head>

<body>
    
  <div class="se-pre-con">

  </div>

  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '617946341715685',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>




<%= render partial: "shared/header"%>
<%= render partial: "shared/message"%>


<main>
<div class = "container">
   
<%= yield %>
</div>
</main>
<link rel="stylesheet" href = "https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.min.css">

<%= render partial: "shared/footer"%>

<!--<script src="//load.sumome.com/" data-sumo-site-id="33b3c952f7e3243fe90e7f68df49961a016a5ca309bebb539f19953284aa1713" async="async"></script>-->

<script>
$(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
$(document).ready(function() {
    $('select').material_select();
    $(".dropdown-button").dropdown();
});
 $(".button-collapse").sideNav();
 
 
</script>

<script>
    $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
</script>

<!--TABS-->
<script>
   $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>
<!--END TABS-->

<script>

  
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
   $('.modal-trigger').leanModal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: .5, // Opacity of modal background
      in_duration: 300, // Transition in duration
      out_duration: 200, // Transition out duration

    }
  );
  
  
  });
  
  
  
</script>



<script>
          $(window).load(function () {
            $("#tabs2").tabs();
             $("#tabs3").tabs();
        });
      </script>
      
 <script>
     $(document).ready(function () {
    
     				$(".all-hours-list").show();
                $(".now-hours-list").show();
                $(".later-chips").show();
                
        $('input[type="radio"]').click(function () {
            if ($(this).attr("value") == "all") {
             $(".hours-list").hide();
                $(".all-hours-list").show();
                $(".now-hours-list").show();
                $(".later-hours-list").show();
            }
            if ($(this).attr("value") == "now") {
                $(".hours-list").hide();
                $(".now-hours-list").show();
            }
            if ($(this).attr("value") == "later") {
                $(".hours-list").hide();
                $(".later-hours-list").show();
            }
        });
    });
</script>










</body>
</html>