<!DOCTYPE html>
<html>
<head>
  <title>HoursPGH</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  
  <!--NEW ONE-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    
  <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
    



  <%= favicon_link_tag 'favicon.png' %>
  <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>

  <%if (user_signed_in?)%>
  <script>
   var OneSignal = window.OneSignal || [];
    OneSignal.push(["init", {
      appId: "03e86ca5-e989-4cf9-8d42-07c6ac901042",
      autoRegister: false, /* Set to true to automatically prompt visitors */
      subdomainName: 'https://hourspgh.onesignal.com',
      notifyButton: {
          enable: true/* Set to false to hide */
      }
    }]);
  </script>
  <%end%>




<meta property="fb:app_id" content="617946341715685" />
<meta property="og:url" content="http://www.hourspgh.com/<%=@page_url%>"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
   <link rel="stylesheet" href = "https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.min.css">
  <script src="https://use.typekit.net/juu2xhe.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>



  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<%= yield :head%>

</head>

<body>
  <div class="se-pre-con">

  </div>

  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '617946341715685',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>




<%= render partial: "shared/header"%>
<%= render partial: "shared/message"%>


<main>
<div class = "container">
<%= yield %>
</div>
</main>

<%= render partial: "shared/footer"%>

<!--<script src="//load.sumome.com/" data-sumo-site-id="33b3c952f7e3243fe90e7f68df49961a016a5ca309bebb539f19953284aa1713" async="async"></script>-->

<script>
$(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
$(document).ready(function() {
    $('select').material_select();
    $(".dropdown-button").dropdown();
});
 $(".button-collapse").sideNav();
</script>


</body>
</html>