<%conversations = Conversation.involving(current_user)%>
<div class="col s3 profilepage">
     <div class="detailstitle">
<h4 class= "flow-text center-align userfirstname"><%= current_user.fullname%>'s Profile</h4>



              <!-- Modal Structure for the neigborhoods -->
              <div id="modal1" class="modal nabehoodpicker">
                <div class="modal-content">
                    <p>Choose a neigborhood to explore the happy hours and specials!</p>
                    
                    <div class="row con-neighb">
<div class="col s12 z-depth-1">
<%= link_to "Downtown", downtown_path, class: "waves-effect waves-light btn newvenue image-btns menubtn marketsquare-btn "%>
</div>

<div class="col s12 z-depth-1">
<%= link_to "Oakland", oakland_path, class: "waves-effect waves-light btn newvenue menubtn image-btns oaklandbtn"%>
</div>

<div class="col s12 z-depth-1">
<%= link_to "Shadyside", shadyside_path, class: "waves-effect waves-light btn newvenue menubtn image-btns shadyside-btn"%>
</div>

<div class="col s12 z-depth-1">
<%= link_to "Lawrenceville", lawrenceville_path, class: "waves-effect waves-light btn newvenue menubtn image-btns lawrenceville-btn"%>
</div>

<div class="col s12 z-depth-1">
<%= link_to "South Side", south_side_path, class: "waves-effect waves-light btn newvenue menubtn image-btns southside-btn"%>
</div>

<div class="col s12 z-depth-1">
<%= link_to "Strip District", strip_district_path, class: "waves-effect waves-light btn newvenue image-btns menubtn strip_district-btn"%>
</div>

<div class="col s12 z-depth-1">
<%= link_to "Mt. Washington", mt_washington_path, class: "waves-effect waves-light btn newvenue image-btns menubtn mt_washington-btn"%>
</div>

</div>
                  
                  </div>
              </div>
    
<%@b = Time.now.in_time_zone("Eastern Time (US & Canada)").hour%>
<%@c = (Time.now.in_time_zone("Eastern Time (US & Canada)").min)%>
<%t= Time.now.in_time_zone("Eastern Time (US & Canada)")%>
  <%  @m = ""%>
    <%@t = ""%>
    <%@w = ""%>
    <%@th = ""%>
    <%@f = ""%>
    <%@s = ""%>
    <%@st = ""%>
    <%@day = ""%>
    <%@button = 0%>
    <%if t.wday == 1%>
      <%@m = "active"%>
      <%@day = "Monday"%>
    <%elsif  t.wday==2%>
      <%@t = "active"%>
      <%@day = "Tuesday"%>
    <%elsif  t.wday==3%>
      <%@w = "active"%>
      <%@day = "Wednesday"%>
    <%elsif  t.wday==4%>
      <%@th = "active"%>
      <%@day = "Thursday"%>
    <%elsif  t.wday==5%>
      <%@f = "active"%>
      <%@day = "Friday"%>
    <%elsif  t.wday==6%>
      <%@st = "active"%>
      <%@day = "Saturday"%>
     <%else%>
      <%@s = "active"%>
      <%@day = "Sunday"%>
    <%end%>
 
<h6 class= "flow-text center-align">Saved Hours  |  Rank: <%=current_user.experience%></h6>
     </div>
</div>
<div class="row" style="margin:0;">
    <div class="col s12 profile-tabs neiborhoodprofile">
      <ul class="tabs">
        <li class="tab col s4"><a class="active" href="#weekly">Saved Hours</a></li>
        <li class="tab col s4"><a href="#venues">Messages<i class="material-icons">message</i></a></li>
        <li class="tab col s4"><a  href="#badges">Badges</a></li>
      </ul>
    </div>
  </div>
<!--TABS-->
<script>
   $(document).ready(function(){
    $('ul.tabs').tabs();
  });
</script>
<!--END TABS-->
<div class="timeforspecial">
    
    <div class="hide">
    <h4>Badges</h4>
    <span class = "left">
    <i class="small material-icons">new_releases</i>
    <i class="small material-icons">queue</i>
    <i class="small material-icons">schedule</i>
    <i class="small material-icons">vpn_key</i>
    </span>
    </div>
    
</div>
<div class="profee">
<div class="add-height"></div>

</div>

<div id="weekly" class="col s12">
 <div class="weeklyhours beerlist">
 <div class="row">
    <div class="col s12 weektab">
      <ul class="tabs">
        <li class="tab col s1"><a class="<%=@s%>" href="#SunTab">Sun</a></li>
        <li class="tab col s1"><a class="<%=@m%>" href="#MonTab">Mon</a></li>
        <li class="tab col s1"><a class="<%=@t%>" href="#TueTab">Tue</a></li>
        <li class="tab col s1"><a class="<%=@w%>" href="#WedTab">Wed</a></li>
        <li class="tab col s1"><a class="<%=@th%>" href="#ThurTab">Thu</a></li>
        <li class="tab col s1"><a class="<%=@f%>" href="#FriTab">Fri</a></li>
       <li class="tab col s1"><a class="<%=@st%>" href="#SatTab">Sat</a></li>
      </ul>
    </div>
   <div class ="center" id="specials">
       <%=render partial: "shared/autocomplete"%>
      </div>
   <div class="weeklyhours beerlist" id="firstfade">
    <div id="SunTab" class="col s12 showday center">

        <% @d = ["Sunday","Everyday","Weekdays"] %>
        <%= render  "prof_neigh_table" %>
   </div>
    <div id="MonTab" class="col s12 showday center">

        <% @d = ["Monday","Everyday","Weekdays"] %>
        <%= render  "prof_neigh_table" %>
   </div>
    <div id="TueTab" class="col s12 showday center">

      <% @h = "Tuesday"%>
      <% @d = ["Tuesday","Everyday","Weekdays"] %>
        <%= render  "prof_neigh_table" %>
   </div>
    <div id="WedTab" class="col s12 showday center">

       <% @h = "Wednesday"%>
        <% @d = ["Wednesday","Everyday","Weekdays"] %>
       <%= render  "prof_neigh_table" %>
   </div>
     <div id="ThurTab" class="col s12 showday center">

       <% @h = "Thursday"%>
        <% @d = ["Thursday","Everyday","Weekdays"] %>
        <%= render  "prof_neigh_table" %>
   </div>
     <div id="FriTab" class="col s12 showday center">

       <% @h = "Friday"%>
        <% @d = ["Friday","Everyday","Weekdays"] %>
        <%= render  "prof_neigh_table" %>
   </div>
   <div id="SatTab" class="col s12 showday center">

       <% @h = "Saturday"%>
        <% @d = ["Saturday","Everyday","Weekend"] %>
        <%= render  "prof_neigh_table" %>
   </div>
   </div>
  </div>
</div>
</div>
  <script>
     $(document).ready(function(){
    $('ul.tabs').tabs();
       $('#firstfade').delay(1000).fadeIn(500);
  });
  </script>

<div id="badges" class="badge-section">
    <div class="row">
        <div class="tab col s4 m3">
            <%= image_tag "1-PROFILE.png"%>
            <h6>CREATED PROFILE</h6>
        </div>
        <div class="tab col s4 m3">
        <%if current_user.saved_first_hour%>
            <div class="">
            <%= image_tag "2-SAVED.png"%>
            <h6>SAVED A SPECIAL</h6>
            </div>
        <%else%>
            <div>
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
        <% if current_user.verified_first_hour%>
            <div class="">
            <%= image_tag "3-VERIFIED.png"%>
            <h6>VERIFIED HOUR</h6>
            </div>
        <%else%>
            <div>
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%> 
        </div>
        
        <div class="tab col s4 m3">
        <% if current_user.created_first_claim%>
            <div class="">
                <%= image_tag "4-CLAIM.png"%>
                <h6>CREATED A CLAIM</h6>
            </div>
        <%else%>
            <div>
                <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
        <% if current_user.liked_first_feature%>
            <div class="">
                <%= image_tag "5-LIKED-FEATURE.png"%>
                <h6>LIKED A FEATURE</h6>
            </div>
        <%else%>
            <div>
                <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        
        <div class="tab col s4 m3">
        <%if current_user.saved_10_hours%>
            <div class="">
            <%= image_tag "6-SAVED-50.png"%>
            <h6>SAVED 10 SPECIALS</h6>
            </div>
        <%else%>
            <div>
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
        <%if current_user.liked_10_features%>
            <div class="">
            <%= image_tag "7-LIKED-50.png"%>
            <h6>LIKED 10 FEATURES</h6>
            </div>
        <%else%>
            <div>
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
        <% if current_user.verified_10_hours%>
            <div class="">
            <%= image_tag "8-VERIFIED-50.png"%>
            <h6>VERIFIED 10 HOURS</h6>
            </div>
        <%else%>
            <div>
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
        <% if current_user.created_feature %> 
            <div class="">
                <%= image_tag "9-CREATED-FEATURE.png"%>
                <h6>CREATED A FEATURE</h6>
            </div>
        <%else%>
            <div>
                <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
        <% if current_user.voted_on_claim%>
            <div class="">
            <%= image_tag "10-VOTED.png"%>
            <h6>VOTED ON A CLAIM</h6>
            </div>
        <%else%>
            <div>
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
        <% if current_user.verified_50_hours%>
            <div class="">
            <%= image_tag "11-VERIFIED-100.png"%>
            <h6>VERIFIED 50 HOURS</h6>
            </div>
        <%else%>
            <div>
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
        <% if current_user.saved_50_specials%>
            <div class="">
            <%= image_tag "12-SAVED-100.png"%>
            <h6>SAVED 50 SPECIALS</h6>
            </div>
        <%else%>
            <div class="">
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
         <div class="tab col s4 m3">
         <% if current_user.liked_50_features%>
             <div class="">
            <%= image_tag "13-LIKED-100.png"%>
            <h6>LIKED 50 FEATURES</h6>
            </div>
        <%else%>
             <div>
            <%= image_tag "13-LOCK.png"%>
            </div>
        <%end%>
        </div>
        
        <div class="tab col s4 m3">
            <div class="hide">
            <%= image_tag "13-LOCK.png"%>
            </div>
            <div class="">
            <%= image_tag "13-LOCK.png"%>
            </div>
        </div>
         <div class="tab col s4 m3">
             <div class="hide">
            <%= image_tag "13-LOCK.png"%>
            </div>
            <div class="">
            <%= image_tag "13-LOCK.png"%>
            </div>
        </div>
        
        
        
    </div>
</div>

<ul class="collapsible hide" data-collapsible="accordion">
  <li><div class="collapsible-header">Change Info</div>
    <div class="collapsible-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages!%>

   <div class="form-group">
    <%= f.text_field :fullname, autofocus: true, :placeholder => "Full Name", :class => 'form-control' %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
</div>
</div>


    </div>
  </li>
</ul>

<ul class="collection hide">
<% current_user.reservations.each do |reservation|%>
<%if !reservation.daily_special.price.blank?%>
    <%price = "$#{reservation.daily_special.price.to_f*reservation.credit}"%>
<%else%>
    <%price = "Free"%>
<%end%> 
 <li class="collection-item avatar">
      <%= image_tag reservation.daily_special.image.url(:medium),class: "circle responsive-img"%>
      <span class="title"><%=reservation.user.fullname%></span>
      <p><%=reservation.credit%> Reservations |  <%= price%></p><br>
     <%= reservation.daily_special.text %>  |   <%= reservation.daily_special.venue.name %>
      <a href="#!" class="secondary-content"><i class="material-icons">info</i></a>
 </li>
<%end%>
 </ul>

<ul class="collection hide">
<% Event.where(user_id: current_user.id).each do |event|%>
 <li class="collection-item">
     <%=event.special%>
 </li>
 <%end%>
</ul>

<div class = "hide">
  <h3  class= "flow-text">Cancel my account</h3>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<%= link_to "Back", :back %>
   </div>
  
<script>
$(document).ready(function() {
    <% if user_signed_in?%>
    <%if current_user.experience < 1000 %>
     Materialize.toast('Here is where you keep all of your favorite hours of the Week! ', 4000)
     <%end%>
     <%end%>
  });
</script>