<div class="col s3">
     <div class="detailstitle">
<h4 class= "flow-text center-align userfirstname"><%= current_user.fullname%>'s Profile</h4>
<%@b = Time.now.in_time_zone("Eastern Time (US & Canada)").hour%>
<%@c = (Time.now.in_time_zone("Eastern Time (US & Canada)").min)%>
<%t= Time.now.in_time_zone("Eastern Time (US & Canada)")%>
  <%  @m = ""%>
    <%@t = ""%>
    <%@w = ""%>
    <%@th = ""%>
    <%@f = ""%>
    <%@s = ""%>
    <%@st = ""%>
    <%@button = 0%>
    <%if t.wday == 1%>
      <%@m = "active"%>
    <%elsif  t.wday==2%>
      <%@t = "active"%>
    <%elsif  t.wday==3%>
      <%@w = "active"%>
    <%elsif  t.wday==4%>
      <%@th = "active"%>
    <%elsif  t.wday==5%>
      <%@f = "active"%>
    <%elsif  t.wday==6%>
      <%@st = "active"%>
     <%else%>
      <%@s = "active"%>
    <%end%>


<h6 class= "flow-text center-align">Saved Hours</h6>
     </div>
</div>

<div class="profee">
<div class="add-height"></div>

</div>

<div id="weekly" class="col s12">
 <div class="weeklyhours beerlist">
 <div class="row">
    <div class="col s12 weektab">
      <ul class="tabs">
        <li class="tab col s1"><a class="<%=@s%>" href="#SunTab">Sun</a></li>
        <li class="tab col s1"><a class="<%=@m%>" href="#MonTab">Mon</a></li>
        <li class="tab col s1"><a class="<%=@t%>" href="#TueTab">Tue</a></li>
        <li class="tab col s1"><a class="<%=@w%>" href="#WedTab">Wed</a></li>
        <li class="tab col s1"><a class="<%=@th%>" href="#ThurTab">Thu</a></li>
        <li class="tab col s1"><a class="<%=@f%>" href="#FriTab">Fri</a></li>
       <li class="tab col s1"><a class="<%=@st%>" href="#SatTab">Sat</a></li>
      </ul>
    </div>
   <div class ="center" id="specials">
       <%=render partial: "shared/autocomplete"%>
      </div>
   <div class="weeklyhours beerlist" id="firstfade">
    <div id="SunTab" class="col s12 showday center">

        <% @d = ["Sunday","Everyday","Weekdays"] %>
        <%= render  "prof_neigh_table" %>
   </div>
    <div id="MonTab" class="col s12 showday center">

        <% @d = ["Monday","Everyday","Weekdays"] %>
        <%= render  "prof_neigh_table" %>
   </div>
    <div id="TueTab" class="col s12 showday center">

      <% @h = "Tuesday"%>
      <% @d = ["Tuesday","Everyday","Weekdays"] %>
        <%= render  "prof_neigh_table" %>
   </div>
    <div id="WedTab" class="col s12 showday center">

       <% @h = "Wednesday"%>
        <% @d = ["Wednesday","Everyday","Weekdays"] %>
       <%= render  "prof_neigh_table" %>
   </div>
     <div id="ThurTab" class="col s12 showday center">

       <% @h = "Thursday"%>
        <% @d = ["Thursday","Everyday","Weekdays"] %>
        <%= render  "prof_neigh_table" %>
   </div>
     <div id="FriTab" class="col s12 showday center">

       <% @h = "Friday"%>
        <% @d = ["Friday","Everyday","Weekdays"] %>
        <%= render  "prof_neigh_table" %>
   </div>
   <div id="SatTab" class="col s12 showday center">

       <% @h = "Saturday"%>
        <% @d = ["Saturday","Everyday","Weekend"] %>
        <%= render  "prof_neigh_table" %>
   </div>
   </div>
  </div>

  <script>
     $(document).ready(function(){
    $('ul.tabs').tabs();
       $('#firstfade').delay(1000).fadeIn(500);
  });
  </script>

<ul class="collapsible" data-collapsible="accordion">
  <li><div class="collapsible-header">Change Info</div>
    <div class="collapsible-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages!%>

   <div class="form-group">
    <%= f.text_field :fullname, autofocus: true, :placeholder => "Full Name", :class => 'form-control' %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>



    </div>
  </li>
</ul>

<div class = "hide">
  <h3  class= "flow-text">Cancel my account</h3>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<%= link_to "Back", :back %>
   </div>